{% extends "web/base.html" %}

{% block head %}{% endblock %}

{% block title %}Alerts{% endblock %}
{% block script %}

{% comment %}
<script>
{% endcomment %}

$(function() {
    var $selectdrop = $('#id_alert');
    
    $selectdrop.change(function() {
        var selectValues = $("#id_alert").val();
        if (selectValues == "Groups") {
            $('.GroupList').animate( { "opacity": "show", top:"100"} , 500 );
            $('.EmailPhone').animate( { "opacity": "hide", top:"100"} , 500 );
        }
        else {
            $('.GroupList').animate( { "opacity": "hide", top:"100"} , 500 );
            $('#id_main-JointAccountID').val("");
            $('.EmailPhone').animate( { "opacity": "show", top:"100"} , 500 ); 
            $('#id_main-JointAccountID').val("");
        }
    }).trigger('change');
});

{% comment %}
</script>
{% endcomment %}

{% endblock %}

{% block content %}

 <!-- this is to remove the trailing colons -->

 <style>
 .control-group label:after {content: " ";} 
 </style>
 
 
<!-- 
	<div class="row">
		<div class="span">
			<div class="navbar navbar-inner">
				<div class="nav-collapse">
					<ul class="nav">
						<li class="active"><a href="/notification" ><strong>Alerts</strong></a></li>
						<li><a href="/notification/groups" ><strong>Groups</strong></a></li>
						<li><a href="/notification/manage" ><strong>Delete User/Group</strong></a></li>
						<li><a href="/notification/status" ><strong>Status</strong></a></li>
					</ul>
				</div>	
			</div>
		</div>	
	</div> -->
	
	<br /><br />
	
	<!-- <div class="text-error">{{ form.errors }}</div> -->
	<div class="text-success"><h5>{{ success }}</h5></div>
	
	{% if form.group.errors %}<div class="text-error"><h5>Groups {{ form.group.errors }}</h5></div>{% endif %}
	{% if form.npmessages.errors %}<div class="text-error"><h5>NP Messages {{ form.npmessages.errors }}</h5></div>{% endif %}
	{% if form.direction.errors %}<div class="text-error"><h5>Direction {{ form.direction.errors }}</h5></div>{% endif %}
	{% if form.time.errors %}<div class="text-error"><h5>Time {{ form.time.errors }}</h5></div>{% endif %}
	{% if form.message.errors %}<div class="text-error"><h5>Alert Message {{ form.message.errors }}</h5></div>{% endif %}
	
	
	<div class="pull-right">

		<div class="btn-group">
               <button class="btn  btn-primary btn-large dropdown-toggle" data-toggle="dropdown">Alert Actions <span class="caret"></span></button>
               <ul class="dropdown-menu">
                 	<li class="active"><a href="/notification" ><strong>Alerts</strong></a></li>
				<li><a href="/notification/groups" ><strong>Groups</strong></a></li>
				<li><a href="/notification/manage" ><strong>Delete User/Group</strong></a></li>
				<li><a href="/notification/status" ><strong>Status</strong></a></li>
               </ul>
           </div><!-- /btn-group -->


	</div>
	
	
	<form class="well form-horizontal" action="/notification/" method="post">	
		<div class="row">
		
			<div class="span11">
				<legend><p class="text-info"><strong>Custom Alerts</strong></p></legend>
			</div>	
		
			<div class="control-group">
								
			<!-- <div class="GroupList"> -->
				<div class="span">
					<label class="control-label" for="type"><strong>Group Name &nbsp; &nbsp;</strong></label>
				</div>
				<div class="span">
						
						<select id="id_group" name="group" class="input-large" >
						  {% if db_groups %}
						  		{% for item in db_groups %}
						  			<option>{{ item.group_name }}</option>
						  		{% endfor %}	
						  {% endif %}	
						</select>
				</div>
				
				
					<div class="span">
						<label class="control-label" for="type"><strong>NP Messages </strong></label>
					</div>
					<div class="span">
						
						<select id="id_npmessages" class="input-large" name="npmessages">
							<option value="NPRequest">NPRequest</option>
							<option value="NPRequestCancel">NPRequestCancel</option>
							<option value="NPDonorReject">NPDonorReject</option>
							<option value="NPDonorAccept">NPDonorAccept</option>
							<option value="NPExecutionCancel">NPExecutionCancel</option>
							<option value="NPExecution">NPExecution</option>
							<option value="NPReturn">NPReturn</option>
							<option value="NPReturnExecution" selected="selected">NPReturnExecution</option>
							<option value="NPBillingResolution">NPBillingResolution</option>
							<option value="NPBillingResolutionEnd">NPBillingResolutionEnd</option>
							<option value="NPBillingResolutionReceived">NPBillingResolutionReceived</option>
							<option value="NPBillingResolutionAlert">NPBillingResolutionAlert</option>
							<option value="NPBillingResolutionAlertReceived">NPBillingResolutionAlertReceived</option>
							<option value="NPBillingResolutionError">NPBillingResolutionError</option>
							</select>
					</div>	
					
				<!-- 	<div class="span">
						<label class="control-label" for="type"><strong>NP Messages </strong></label>
					</div>
					<div class="span2">
						<div class="text-error">{{ form.npmessages.errors }}</div>
							{{ form.npmessages }}
					</div>	 -->
					
			</div> <!-- closing control group -->
				
			
			
			<div class="control-group">
				
				
				<div class="span">
					<label class="control-label" for="type"><strong>Direction &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</strong></label>
				</div>
				<div class="span">
					
					<select id="id_direction" name="direction" class="input-large" >
						  <option>Sent</option>
					  	  <option>Received</option> 
					</select>
				</div>					
				
				
				<div class="span">
					<label class="control-label" for="type"><strong>Promptness&nbsp;&nbsp;&nbsp;</strong></label>
				</div>
				<div class="span">
					
					<select id="id_time" name="time" class="input-large" >
					  <option>OnTime</option>
					</select>
				</div>		
				
			</div> <!-- closing control group -->
			
			
							
			<div class="control-group">				
				
				<div class="span">
					<label class="control-label" for="type"><strong>Alert Message</strong></label>
				</div>
				
				<div class="span">
					 
					 <textarea rows="3" cols="10" id="id_message" name="message" placeholder="Your custom notification messsage here"></textarea>
				</div>
				
				<div class="offset1" style="float: right; position: relative; right: 120px; top: 15px;">
					<button type="submit" class="btn btn-large btn-danger"><strong>Save Alert</strong></button>
				</div>	
				
			<!-- 	<div class="offset1">
					<button type="submit" class="btn btn-large btn-danger offset3">Save Alert</button>
				</div> -->
				
				
				
			</div> <!-- closing control group -->
			
			
			
			
		</div> <!-- closing row -->
	</form>


{% endblock %}