{% extends "web/base.html" %}

{% block head %}{% endblock %}

{% block title %}Groups{% endblock %}

{% block script %}

{% comment %}
<script>
{% endcomment %}

$(function() {
    var $selectdrop = $('#id_groups');
    
    $selectdrop.change(function() {
        var selectValues = $("#id_groups").val();
        if (selectValues == "Add New ----") {
            $('#newGroupDiv').animate( { "opacity": "show", top:"100"} , 500 );
        }
        else {
            $('#newGroupDiv').animate( { "opacity": "hide", top:"100"} , 500 );
            $('#newGroupDiv').val("");
        }
    }).trigger('change');
});

{% comment %}
</script>
{% endcomment %}

{% endblock %}

{% block content %}

<!-- <style> 
 
 body div.container  div.row  div.span {width: 100%} 
 .navbar .nav { display : inline } 
 .navbar-inner { padding-left: 0;} 

 </style> -->
 
 <!-- this is to remove the trailing colons -->
 
 <style>
 .control-group label:after {content: " ";} 
 </style> 

<!-- 	<div class="row">
		<div class="span">
			<div class="navbar navbar-inner">
				<div class="nav-collapse">
					<ul class="nav">
						<li><a href="/notification" ><strong>Alerts</strong></a></li>
						<li class="active"><a href="/notification/groups" ><strong>Groups</strong></a></li>
						<li><a href="/notification/manage" ><strong>Delete User/Group</strong></a></li>
						<li><a href="/notification/status" ><strong>Status</strong></a></li>
					</ul>
				</div>	
			</div>
		</div>	
	</div> -->
	
	<br /><br />
	
	<div class="text-success"><h5>{{ success }}</h5></div>
	<div class="text-error"><h5>{{ Error }}</h5></div>
	
	{% if form.group.errors %}<div class="text-error"><h5>Groups {{ form.group.errors }}</h5></div>{% endif %}
	{% if form.group_name.errors %}<div class="text-error"><h5>Group Name {{ form.group_name.errors }}</h5></div>{% endif %}
	{% if form.rcpt_name.errors %}<div class="text-error"><h5>Recepient Name {{ form.rcpt_name.errors }}</h5></div>{% endif %}
	{% if form.type.errors %}<div class="text-error"><h5>Type {{ form.type.errors }}</h5></div>{% endif %}
	{% if form.email_phone.errors %}<div class="text-error"><h5>Email/Phone {{ form.email_phone.errors }}</h5></div>{% endif %}
	
	<div class="pull-right">

		<div class="btn-group">
               <button class="btn  btn-primary btn-large dropdown-toggle" data-toggle="dropdown">Alert Actions <span class="caret"></span></button>
               <ul class="dropdown-menu">
                 	<li><a href="/notification" ><strong>Alerts</strong></a></li>
					<li class="active"><a href="/notification/groups" ><strong>Groups</strong></a></li>
					<li><a href="/notification/manage" ><strong>Delete User/Group</strong></a></li>
					<li><a href="/notification/status" ><strong>Status</strong></a></li>
               </ul>
           </div><!-- /btn-group -->


	</div>
	
	
	<form class="well form-horizontal" action="/notification/groups/" method="post">	
		<div class="row">
		
			<div class="span11">
				<legend><p class="text-info"><strong>Add Groups</strong></p></legend>		
			</div>		
			
			<div class="control-group">
				
				<div class="span offset2">
					<label class="control-label" for="id_groups"><strong>Groups  &nbsp;&nbsp;&nbsp;&nbsp;&nbsp; &nbsp;</strong></label>
				</div>
				<div class="span2">

						<select id="id_groups" name="groups" class="input-large" >
						  	<option value='Add New ----' selected>Add New ----</option>
						  	{% if db_groups %}
						  		{% for item in db_groups %}
						  			<option>{{ item.group_name }}</option>
						  		{% endfor %}	
						  	{% endif %}	
						</select>
				</div>
				
				
			</div> <!-- closing control group -->
			
			<div class="control-group" id="newGroupDiv">
				<div class="span offset2">
					<label class="control-label" for="type"><p class="text-error"><strong>Group Name &nbsp;&nbsp;&nbsp;</strong></p></label>
				</div>
				<div class="span2">
						
						<input  class="input-large" type="text" id="id_group_name" name="group_name" placeholder="Group Name"></input>
				</div>					
				
			</div>
				
						
			<div class="control-group">
				<div class="span2">
					<label class="control-label" for="type"><strong>Recipient Name &nbsp;</strong></label>
				</div>
				<div class="span1">
					
					<input type="text" id="id_rcpt_name" name="rcpt_name" class="input-medium" placeholder="Put your name here"></input>
				</div>	
					
				<div class="span2">
					<label class="control-label" for="type"><strong>Type &nbsp;</strong></label>
				</div>
				<div class="span1">
					
					<select id="type" id="id_type" name="type" class="input-small">
					  <option>Email</option>
					  <option>SMS</option> 
					</select>
				</div>	
				
				<div class="span2">
					<label class="control-label" for="type"><strong>Email/Phone &nbsp;&nbsp;</strong></label>
				</div>
				<div class="span1">
					
					<input type="text" id="id_email_phone" name="email_phone" class="input-medium" placeholder="Put your mail or phone here"></input>
				</div>
				
				<div class="span1 offset1" style="float:right;">
					<button style="height: 28px;"><i class="icon-plus"></i><Strong>Add</strong></button>
				</div>
					
			</div> <!-- closing control group -->
			
			<div class="control-group">				
			
				<div style="float:left; position:relative; left:380px;">
				<!-- <div class="offset5"> -->
					<button type="submit" class="btn btn-large btn-danger"><strong>Save Group</strong></button>
				</div>				
				
			</div> <!-- closing control group -->
	
	
		</div> <!-- closing row -->
	</form>
	
{% endblock %}	
