{% extends "web/base.html" %}

{% block head %}{% endblock %}

{% block title %}Group/Item Delete{% endblock %}


{% block content %}

 <!-- this is to remove the trailing colons -->

 <style>
 .control-group label:after {content: " ";} 
 </style>
 
 

<!-- 	<div class="row">
		<div class="span">
			<div class="navbar navbar-inner">
				<div class="nav-collapse">
					<ul class="nav">
						<li><a href="/notification" ><strong>Alerts</strong></a></li>
						<li><a href="/notification/groups" ><strong>Groups</strong></a></li>
						<li class="active"><a href="/notification/manage" ><strong>Delete User/Group</strong></a></li>
						<li><a href="/notification/status" ><strong>Status</strong></a></li>
					</ul>
				</div>	
			</div>
		</div>	
	</div> -->
	
	<br /><br />
	
	{% if form.errors %}<div class="text-error"><h5>{{ form.errors }}</h5></div>{% endif %}
	{% if success %}<div class="text-success"><h5>{{ success }}</h5></div>{% endif %}
	
	
	<div class="pull-right">

		<div class="btn-group">
               <button class="btn  btn-primary btn-large dropdown-toggle" data-toggle="dropdown">Alert Actions <span class="caret"></span></button>
               <ul class="dropdown-menu">
                 	<li><a href="/notification" ><strong>Alerts</strong></a></li>
					<li><a href="/notification/groups" ><strong>Groups</strong></a></li>
					<li class="active"><a href="/notification/manage" ><strong>Delete User/Group</strong></a></li>
					<li><a href="/notification/status" ><strong>Status</strong></a></li>
               </ul>
           </div><!-- /btn-group -->


	</div>
	
	
	<form class="well form-horizontal" action="/notification/manage/" method="post">	
		<div class="row">
		
			<div class="span11">
				<legend><p class="text-error"><strong>Remove a Group</strong></p></legend>
			</div>
			
			<div class="control-group">
				
				<div class="span offset2">
					<label class="control-label" for="type"><strong>Groups </strong></label>
				</div>

				<div class="span2">
						<select id="id_groups" name="groups" class="input-large" >
						  	<option selected>Add New ----</option>
						  	{% if db_groups %}
						  		{% for item in db_groups %}
						  			<option>{{ item.group_name }}</option>
						  		{% endfor %}	
						  	{% endif %}	
						</select>
				</div>
				<div class="span offset1">
					<button type="submit" name="delete_group" class="btn btn-primary btn-danger"><strong>Remove</strong></button>
				</div>

			</div> <!-- closing control group -->

	
			<div class="span11">
			<legend><p class="text-error"><strong>Remove an Email/Phone</strong></p></legend>
			</div>

							
						
			<div class="control-group">
			
				
				<div class="span2">
					<label class="control-label" for="id_group_user"><strong> User's Group &nbsp;&nbsp;</strong></label>
				</div>

				<div class="span2">
						<select id="id_group_user" name="group_user" class="input-large" >
						  	<option selected>Add New ----</option>
						  	{% if db_groups %}
						  		{% for item in db_groups %}
						  			<option>{{ item.group_name }}</option>
						  		{% endfor %}	
						  	{% endif %}	
						</select>
				</div>
				

				<div class="span2">
					<label class="control-label" for="type"><strong>Email/Phone &nbsp;&nbsp;</strong></label>
				</div>
				
				<div class="span2">
					<input type="text" id="id_email_phone" name="email_phone" class="input-large" placeholder="Put your mail or phone here"></input>
				</div>
				<div class="span offset1">
					<button type="submit" name="delete_user" class="btn btn-primary btn-danger"><strong>Remove</strong></button>
				</div>
												
			</div> <!-- closing control group -->
	
	
		</div> <!-- closing row -->
	</form>	
	
{% endblock %}	
