<table border="1">
	<tr>
		<td>Message ID</td>
		<td>Message Time Created</td>
		<td>Message Time Modified</td>
		<td>Originator</td>
		<td>new_message</td>
		<td>ack</td>
		<td>related</td>
		<td>user</td>
		<td>Request Status</td>
		<td>Error Code</td>
		<td>Description</td>
		<td>Message Type ID</td>
		<td>Message Type Name</td>
		<td>Last Message</td>
		<td>Message ID</td>
		<td>Sender ID</td>
		<td>Sender Name</td>
		<td>NPOrder ID</td>
		<td>EmergencyRestore ID</td>
		<td>Block Order ID</td>
		<td>Block Order Count</td>
		<td>Validation MSISDN</td>
		<td>Recipient ID</td>
		<td>RecipientName</td>
		<td>SubscriptionProviderID</td>
		<td>SubscriptionProviderName</td>
		<td>RangeHolderID</td>
		<td>RangeHolderName</td>
		<td>DonorID</td>
		<td>Donor Name</td>
		<td>Date Of Birth</td>
		<td>Customer Name</td>
		<td>Customer ID</td>
		<td>Customer ID Type</td>
		<td>Service Type</td>
		<td>Customer Type</td>
		<td>Subscription Type</td>
		<td>Npcdb Reject Reason</td>
		<td>Npcdb Reject Message</td>
		<td>Cancel Reason</td>
		<td>Cancel Message</td>
		<td>Porting Time</td>
		<td>Automatic Accept</td>
		<td>Balance</td>
		<td>Original NP OrderID</td>
		<td>Payment Code</td>
		<td>Phone Number Start</td>
		<td>Phone Number End</td>
		<td>Routing Number</td>
		<td>Total Number</td>
		<td>Donor Reject Reason</td>
		<td>Donor Reject Message</td>		
	</tr>
{% for row in data %}
	<tr>
		<td>{% if row.MessageLocalID != None %}{{ row.MessageLocalID }}{% endif %}</td>
		<td>{% if row.message_created != None %}{{ row.message_created }}{% endif %}</td>
		<td>{% if row.message_modified != None %}{{ row.message_modified }}{% endif %}</td>
		<td>{% if row.Originator != None %}{{ row.Originator }}{% endif %}</td>
		<td>{% if row.new_message != None %}{{ row.new_message }}{% endif %}</td>
		<td>{% if row.ack != None %}{{ row.ack }}{% endif %}</td>
		<td>{% if row.related != None %}{{ row.related }}{% endif %}</td>
		<td>{% if row.user != None %}{{ row.user }}{% endif %}</td>
		<td>{% if row.status != None %}{{ row.status }}{% endif %}</td>
		<td>{% if row.ErrorCode != None %}{{ row.ErrorCode }}{% endif %}</td>
		<td>{% if row.Description != None %}{{ row.Description }}{% endif %}</td>
		<td>{% if row.MessageTypeID != None %}{{ row.MessageTypeID }}{% endif %}</td>
		<td>{% if row.MessageTypeName != None %}{{ row.MessageTypeName }}{% endif %}</td>
		<td>{% if row.last_message != None %}{{ row.last_message }}{% endif %}</td>
		<td>{% if row.MessageID != None %}{{ row.MessageID }}{% endif %}</td>
		<td>{% if row.SenderID != None %}{{ row.SenderID }}{% endif %}</td>
		<td>{% if row.SenderName != None %}{{ row.SenderName }}{% endif %}</td>
		<td>{% if row.NPOrderID != None %}{{ row.NPOrderID }}{% endif %}</td>
		<td>{% if row.EmergencyRestoreID != None %}{{ row.EmergencyRestoreID }}{% endif %}</td>
		<td>{% if row.BlockOrderID != None %}{{ row.BlockOrderID }}{% endif %}</td>
		<td>{% if row.BlockOrderCount != None %}{{ row.BlockOrderCount }}{% endif %}</td>
		<td>{% if row.ValidationMSISDN != None %}{{ row.ValidationMSISDN }}{% endif %}</td>
		<td>{% if row.RecipientID != None %}{{ row.RecipientID }}{% endif %}</td>
		<td>{% if row.RecipientName != None %}{{ row.RecipientName }}{% endif %}</td>
		<td>{% if row.SubscriptionProviderID != None %}{{ row.SubscriptionProviderID }}{% endif %}</td>
		<td>{% if row.SubscriptionProviderName != None %}{{ row.SubscriptionProviderName }}{% endif %}</td>
		<td>{% if row.RangeHolderID != None %}{{ row.RangeHolderID }}{% endif %}</td>
		<td>{% if row.RangeHolderName != None %}{{ row.RangeHolderName }}{% endif %}</td>
		<td>{% if row.DonorID != None %}{{ row.DonorID }}{% endif %}</td>
		<td>{% if row.DonorName != None %}{{ row.DonorName }}{% endif %}</td>
		<td>{% if row.DateOfBirth != None %}{{ row.DateOfBirth }}{% endif %}</td>
		<td>{% if row.CustomerName != None %}{{ row.CustomerName }}{% endif %}</td>
		<td>{% if row.CustomerID != None %}{{ row.CustomerID }}{% endif %}</td>
		<td>{% if row.CustomerIDType != None %}{{ row.CustomerIDType }}{% endif %}</td>
		<td>{% if row.ServiceType != None %}{{ row.ServiceType }}{% endif %}</td>
		<td>{% if row.CustomerType != None %}{{ row.CustomerType }}{% endif %}</td>
		<td>{% if row.SubscriptionType != None %}{{ row.SubscriptionType }}{% endif %}</td>
		<td>{% if row.NpcdbRejectReason != None %}{{ row.NpcdbRejectReason }}{% endif %}</td>
		<td>{% if row.NpcdbRejectMessage != None %}{{ row.NpcdbRejectMessage }}{% endif %}</td>
		<td>{% if row.CancelReason != None %}{{ row.CancelReason }}{% endif %}</td>
		<td>{% if row.CancelMessage != None %}{{ row.CancelMessage }}{% endif %}</td>
		<td>{% if row.PortingTime != None %}{{ row.PortingTime }}{% endif %}</td>
		<td>{% if row.AutomaticAccept != None %}{{ row.AutomaticAccept }}{% endif %}</td>
		<td>{% if row.Balance != None %}{{ row.Balance }}{% endif %}</td>
		<td>{% if row.OriginalNPOrderID != None %}{{ row.OriginalNPOrderID }}{% endif %}</td>
		<td>{% if row.PaymentCode != None %}{{ row.PaymentCode }}{% endif %}</td>
		<td></td>
		<td></td>
		<td></td>
		<td></td>
		<td></td>
		<td></td>
	</tr>
	
	
	{% if row.RoutingInfoList.all %}
	{% for RoutingInfo in row.RoutingInfoList.all %}
		<tr>
			<td></td>
			<td></td>
			<td></td>
			<td></td>
			<td></td>
			<td></td>
			<td></td>
			<td></td>
			<td></td>
			<td></td>
			<td></td>
			<td></td>
			<td></td>
			<td></td>
			<td></td>
			<td></td>
			<td>{% if row.SenderName != None %}{{ row.SenderName }}{% endif %}</td>
			<td>{% if row.NPOrderID != None %}{{ row.NPOrderID }}{% endif %}</td>
			<td>{% if row.EmergencyRestoreID != None %}{{ row.EmergencyRestoreID }}{% endif %}</td>
			<td></td>
			<td></td>
			<td></td>
			<td>{% if row.RecipientID != None %}{{ row.RecipientID }}{% endif %}</td>
			<td>{% if row.RecipientName != None %}{{ row.RecipientName }}{% endif %}</td>
			<td></td>
			<td></td>
			<td>{% if row.RangeHolderID != None %}{{ row.RangeHolderID }}{% endif %}</td>
			<td>{% if row.RangeHolderName != None %}{{ row.RangeHolderName }}{% endif %}</td>
			<td>{% if row.DonorID != None %}{{ row.DonorID }}{% endif %}</td>
			<td>{% if row.DonorName != None %}{{ row.DonorName }}{% endif %}</td>
			<td>{% if row.DateOfBirth != None %}{{ row.DateOfBirth }}{% endif %}</td>
			<td>{% if row.CustomerName != None %}{{ row.CustomerName }}{% endif %}</td>
			<td>{% if row.CustomerID != None %}{{ row.CustomerID }}{% endif %}</td>
			<td>{% if row.CustomerIDType != None %}{{ row.CustomerIDType }}{% endif %}</td>
			<td>{% if row.ServiceType != None %}{{ row.ServiceType }}{% endif %}</td>
			<td>{% if row.CustomerType != None %}{{ row.CustomerType }}{% endif %}</td>
			<td>{% if row.SubscriptionType != None %}{{ row.SubscriptionType }}{% endif %}</td>
			<td></td>
			<td></td>
			<td></td>
			<td></td>
			<td>{% if row.PortingTime != None %}{{ row.PortingTime }}{% endif %}</td>
			<td></td>
			<td>{% if row.Balance != None %}{{ row.Balance }}{% endif %}</td>
			<td>{% if row.OriginalNPOrderID != None %}{{ row.OriginalNPOrderID }}{% endif %}</td>
			<td></td>
			<td>{% if RoutingInfo.PhoneNumberStart != None %}{{ RoutingInfo.PhoneNumberStart }}{% endif %}</td>
			<td>{% if RoutingInfo.PhoneNumberEnd != None %}{{ RoutingInfo.PhoneNumberEnd }}{% endif %}</td>
			<td>{% if RoutingInfo.RoutingNumber != None %}{{ RoutingInfo.RoutingNumber }}{% endif %}</td>
			<td>{% if RoutingInfo.TotalNumber != None %}{{ RoutingInfo.TotalNumber }}{% endif %}</td>
			<td></td>
			<td></td>
		</tr>
	{% endfor %}
	{% endif %}


	{% if row.DonorRejectList.all %}
	{% for DonorReject in row.DonorRejectList.all %}
		<tr>
			<td></td>
			<td></td>
			<td></td>
			<td></td>
			<td></td>
			<td></td>
			<td></td>
			<td></td>
			<td></td>
			<td></td>
			<td></td>
			<td></td>
			<td></td>
			<td></td>
			<td></td>
			<td></td>
			<td>{% if row.SenderName != None %}{{ row.SenderName }}{% endif %}</td>
			<td>{% if row.NPOrderID != None %}{{ row.NPOrderID }}{% endif %}</td>
			<td>{% if row.EmergencyRestoreID != None %}{{ row.EmergencyRestoreID }}{% endif %}</td>
			<td></td>
			<td></td>
			<td></td>
			<td>{% if row.RecipientID != None %}{{ row.RecipientID }}{% endif %}</td>
			<td>{% if row.RecipientName != None %}{{ row.RecipientName }}{% endif %}</td>
			<td></td>
			<td></td>
			<td>{% if row.RangeHolderID != None %}{{ row.RangeHolderID }}{% endif %}</td>
			<td>{% if row.RangeHolderName != None %}{{ row.RangeHolderName }}{% endif %}</td>
			<td>{% if row.DonorID != None %}{{ row.DonorID }}{% endif %}</td>
			<td>{% if row.DonorName != None %}{{ row.DonorName }}{% endif %}</td>
			<td>{% if row.DateOfBirth != None %}{{ row.DateOfBirth }}{% endif %}</td>
			<td>{% if row.CustomerName != None %}{{ row.CustomerName }}{% endif %}</td>
			<td>{% if row.CustomerID != None %}{{ row.CustomerID }}{% endif %}</td>
			<td>{% if row.CustomerIDType != None %}{{ row.CustomerIDType }}{% endif %}</td>
			<td>{% if row.ServiceType != None %}{{ row.ServiceType }}{% endif %}</td>
			<td>{% if row.CustomerType != None %}{{ row.CustomerType }}{% endif %}</td>
			<td>{% if row.SubscriptionType != None %}{{ row.SubscriptionType }}{% endif %}</td>
			<td></td>
			<td></td>
			<td></td>
			<td></td>
			<td></td>
			<td></td>
			<td>{% if row.Balance != None %}{{ row.Balance }}{% endif %}</td>
			<td>{% if row.OriginalNPOrderID != None %}{{ row.OriginalNPOrderID }}{% endif %}</td>
			<td></td>
			<td>{% if DonorReject.PhoneNumberStart != None %}{{ DonorReject.PhoneNumberStart }}{% endif %}</td>
			<td>{% if DonorReject.PhoneNumberEnd != None %}{{ DonorReject.PhoneNumberEnd }}{% endif %}</td>
			<td></td>
			<td></td>
			<td>{% if DonorReject.DonorRejectReason != None %}{{ DonorReject.DonorRejectReason }}{% endif %}</td>
			<td>{% if DonorReject.DonorRejectMessage != None %}{{ DonorReject.DonorRejectMessage }}{% endif %}</td>
		</tr>
	{% endfor %}
	{% endif %}
{% endfor %}