{% extends "web/base.html" %}

{% block title %}NPG - {{ PageName }}{% endblock %}


{% block script %}

{% endblock %}
{% block content %}


{% if Results %}
<div class="PopupPanel">
Results
{{ Results }}
</div>
{% endif %}


<h3>Filter</h3>
<table style="width:100%" class="table table-bordered">
	<tr align="center">
		<td>NP Order ID</td>
		<td>Phone Number</td>
		<td>Status</td>
		<td>User</td>
	</tr>
	<tr align="center">
	<form enctype='multipart/form-data' action='/request/outgoing/' method='post'>
		{% csrf_token %}
		<td><input type="text" name="lastname" size="5"></td>
		<td><input type="text" name="lastname" size="5"></td>
		<td>
			<select name="MessageTypeName" onChange="this.form.submit();">
				<option value="NPRequest" {% if form.MessageTypeName.value == "NPRequest" %} selected="selected"{% endif %} >All Messages</option>
				<option value="NPRequest" {% if form.MessageTypeName.value == "NPRequest" %} selected="selected"{% endif %} >Active...waiting donor response</option>
				<option value="NPRequestCancel" {% if form.MessageTypeName.value == "NPRequestCancel" %} selected="selected"{% endif %} >Rejected</option>
				<option value="NPRequestCancel" {% if form.MessageTypeName.value == "NPRequestCancel" %} selected="selected"{% endif %} >Auto accepted...waiting execution</option>
				<option value="NPRequestCancel" {% if form.MessageTypeName.value == "NPRequestCancel" %} selected="selected"{% endif %} >Accepted...waiting execution</option>
				<option value="NPRequestCancel" {% if form.MessageTypeName.value == "NPRequestCancel" %} selected="selected"{% endif %} >Completed</option>
			</select>
		</td>
		<td>
			
			<select name="MessageTypeName" onChange="this.form.submit();">
				<option value="NPRequest" {% if form.MessageTypeName.value == "NPRequest" %} selected="selected"{% endif %} >All Users</option>
				<option value="NPRequest" {% if form.MessageTypeName.value == "NPRequest" %} selected="selected"{% endif %} >Hazim</option>
				<option value="NPRequestCancel" {% if form.MessageTypeName.value == "NPRequestCancel" %} selected="selected"{% endif %} >Mamdouh</option>
				<option value="NPRequestCancel" {% if form.MessageTypeName.value == "NPRequestCancel" %} selected="selected"{% endif %} >Ahmad</option>
			</select>
			
		</td>
	</tr>
	</form>	
</table>	
<div style="text-align:right;margin-bottom:20px">
	<input type="submit" name="SubmitType" value="Reset" class="btn">
	<input type="submit" name="SubmitType" value="Filter" class="btn btn-success">

</div>								

<h3>Results</h3>
<table  style="width:100%" class="table">
{% if reply_list %}
	<tr>
		<td colspan="6" bgcolor="{{ back_color }}"  width="100%" >
			{% for key,value in reply_list.items %}
				<div align="left" width="30px;" style="font-weight: normal; font-family: Candara; font-size: 12px;">
					<b>{{ key }}:</b> {{ value }}
				</div>
			{% endfor %}
		</td>
	</tr>
	{% endif %}
	<tr>
		<td>
				<h4>Active Billing Resolution</h4>
		</td>
	</tr>
	<tr>
		<td style="padding-left:0;padding-right:0">
			<table style="width:100%">

				<tr>
					<th>NP Order ID</th>
					<th>Phone Number</th>
					<th>Status</th>
					<th>User</th>
					<th width="130">Action</th>
				</tr>

			{% for message in ActiveBillingResolution %}
				<tr align="center">
					<td>{{ message.NPOrderID }}</td>
					
					<td>
						{% for RoutingInfo in message.RoutingInfoList.all %}
							<table border="0" bordercolor="FFCC00" align="center">
	
								<tr class="phone content">
									<td>{{ RoutingInfo.PhoneNumberStart }}</td>
									<td>&nbsp;&nbsp;&nbsp;&nbsp;</td>
									<td>{{ RoutingInfo.PhoneNumberEnd }}</td>
								</tr>
							</table>
						{% endfor %}
					</td>
					<td>{{ message.status }}</td>
					<td>{{ message.user }}</td>
					<td>
						<form enctype='multipart/form-data' action='/request/billing/new/' method='post'>
							{% csrf_token %}
							<input type="hidden" name="MessageLocalID" value="{{ message.MessageLocalID }}" />
							<input type="submit" name="SubmitType" value="Alert">
							<input type="submit" name="SubmitType" value="End">
						</form>					
					</td>
				</tr>
			{% endfor %}

	<tr>
		<td>
				<h4>Issue New Billing Resolution</h4>
		</td>
	</tr>
	<tr>
		<td style="padding-left:0;padding-right:0">
			<table style="width:100%">

				<tr>
					<th>NP Order ID</th>
					<th>Phone Number</th>
					<th>Status</th>
					<th>User</th>
					<th width="130">Action</th>
				</tr>

			{% for message in message_list %}
				<tr align="center">
					<td>{{ message.NPOrderID }}</td>
					
					<td>
						{% for RoutingInfo in message.RoutingInfoList.all %}
							<table border="0" bordercolor="FFCC00" align="center">
	
								<tr class="phone content">
									<td>{{ RoutingInfo.PhoneNumberStart }}</td>
									<td>&nbsp;&nbsp;&nbsp;&nbsp;</td>
									<td>{{ RoutingInfo.PhoneNumberEnd }}</td>
								</tr>
							</table>
						{% endfor %}
					</td>
					<td>{{ message.status }}</td>
					<td>{{ message.user }}</td>
					<td>
						<form enctype='multipart/form-data' action='/request/billing/new/' method='post'>
							{% csrf_token %}
							<input type="hidden" name="MessageLocalID" value="{{ message.MessageLocalID }}" />
							<input type="submit" name="SubmitType" value="NewBilling">
						</form>					
					</td>
				</tr>
				

					{% comment %}
			
				<tbody>
					<tr class="section">
						<th colspan="5" scope="col">Message Info</th>
					</tr>
					<tr class="titles">
						<td>Message Time</td>
						<td colspan="2">Message ID</td>
						<td colspan="2">Reversal Order ID</td>
					</tr>
					<tr class="content">
						<td>{{ message.MessageTime }}</td>
						<td colspan="2">{{ message.MessageID }}</td>
						<td colspan="2">{{ message.ReversalOrderID }}</td>
					</tr>
					<tr class="section">
						<th colspan="5" scope="col">NP Info</th>
					</tr>
					<tr class="titles">
						<td>NP Order ID</td>
						<td>Sender Name</td>
						<td>Recipient Name</td>
						<td>Donor Name</td>
						<td>Execution Time</td>
					</tr>
					<tr class="content">
						<td>{{ message.NPOrderID }}</td>
						<td>{{ message.SenderName }}</td>
						<td>{{ message.RecipientName }}</td>
						<td>{{ message.DonorName }}</td>
						<td>{{ message.ExecutionTime }}</td>
					</tr>
					<tr class="section">
						<th colspan="5" scope="col">Customer Info</th>
					</tr>
					<tr class="titles">
						<td>Customer Type</td>
						<td>Customer Name</td>
						<td>Customer ID</td>
						<td>Place Of Birth</td>
						<td>Contact Info</td>
					</tr>
					<tr class="content">
						<td>{{ message.CustomerType }}</td>
						<td>{{ message.CustomerName }}</td>
						<td>{{ message.CustomerID }}</td>
						<td>{{ message.PlaceOfBirth }}</td>
						<td>{{ message.RecipientContactInfo }}</td>
					</tr>
					<tr class="section">
						<th colspan="5" scope="col">Number Info</th>
					</tr>
					<tr class="titles">
						<td>Phone Number Start</td>
						<td>Phone Number End</td>
						<td>Number Type</td>
						<td>Subscription Type</td>
						<td>Routing Number</td>
					</tr>
					{% for RoutingInfo in message.RoutingInfoList.all %}
					<tr class="phone content">
						<td>{{ RoutingInfo.PhoneNumberStart }}</td>
						<td>{{ RoutingInfo.PhoneNumberEnd }}</td>
						<td>{{ message.NumberType }}</td>
						<td>{{ message.SubscriptionType }}</td>
						<td>{{ RoutingInfo.RoutingNumber }}</td>
					</tr>
					{% endfor %}
					<tr class="section">
						<th colspan="5" scope="col">Attachments</th>
					</tr>
					<tr class="content">
						<td colspan="5">
						{% for Attachment in message.AttachmentList.all %}
							<a href="../../storage/{{ Attachment.FileName }}" target="_blank">{{ Attachment.OrginalFileName }}</a>
						{% endfor %}
						</td>
					</tr>
	
				</tbody>
				{% endcomment %}
		{% empty %}
		</table>

		</td>
	</tr>
	<tr>
		<td colspan="6">
			No incoming request
		</td>
	</tr>
{% endfor %}
</table>
{% endblock %}