<ul class="nav">
		<li class="nav-one {% if request.get_full_path = "/request/new/" %}active{% endif %}"><a href="/request/billing/new/" class="">New Billing Resolution</a></li>
		<li class="nav-three {% if request.get_full_path = "/request/outgoing/" %}active{% endif %}"><a href="/request/billing/sent/" class="">Sent Billing Resolution</a></li>
		<li class="nav-two {% if request.get_full_path = "/request/incoming/" %}active{% endif %}"><a href="/request/billing/received/" class="">Received Billing Resolution</a></li>
</ul>	
