{% extends "web/base.html" %}

{% block title %}NPG - Message Detail{% endblock %}
{% block script %}
{% endblock %}
{% block content %}
<table align="center" border="1" cellspacing="1" style="border-collapse: collapse" width="800" cellpadding="5">
	<tr>
		<td colspan="7" align="center" height="40" bgcolor="#85C2FF">
			<b>Message Information</b>
		</td>
	</tr>

{% if message_list.status != None and message_list.status != "" %}
	<tr>
		<td height="5" bgcolor="#C2C2C2">Order Status</td>
		<td height="5" bordercolor="#FFFFFF" bgcolor="#F0F0F0">{% load GetChoice %}{{ somevariable|GetStatusDetails:message_list.status }}</td>
	</tr>	
{% endif %}

{% if message_list.MessageLocalID != None and message_list.MessageLocalID != "" %}
	<tr>
		<td height="5" width="200" bgcolor="#C2C2C2">Local ID</td>
		<td height="5" bordercolor="#FFFFFF" bgcolor="#F0F0F0">{{ message_list.MessageLocalID }}</td>
	</tr>
{% endif %}
{% if message_list.message_created != None and message_list.message_created != "" %}
	<tr>
		<td height="5" bgcolor="#C2C2C2">Created Time</td>
		<td height="5" bordercolor="#FFFFFF" bgcolor="#F0F0F0">{{ message_list.message_created }}</td>
	</tr>
{% endif %}
{% if message_list.message_modified != None and message_list.message_modified != "" %}
	<tr>
		<td height="5" bgcolor="#C2C2C2">Modified Time</td>
		<td height="5" bordercolor="#FFFFFF" bgcolor="#F0F0F0">{{ message_list.message_modified }}</td>
	</tr>
{% endif %}
{% if message_list.Originator  != None and message_list.Originator  != "" %}
	<tr>
		<td height="5" bgcolor="#C2C2C2">Originator</td>
		<td height="5" bordercolor="#FFFFFF" bgcolor="#F0F0F0">{{ message_list.Originator  }}</td>
	</tr>
{% endif %}
{% comment %}
{% if message_list.new_message  != None and message_list.new_message  != "" %}
	<tr>
		<td height="5" bgcolor="#C2C2C2">New Message</td>
		<td height="5" bordercolor="#FFFFFF" bgcolor="#F0F0F0">{{ message_list.new_message  }}</td>
	</tr>
{% endif %}
{% endcomment %}
{% if message_list.ack  != None and message_list.ack  != "" %}
	<tr>
		<td height="5" bgcolor="#C2C2C2">Ack</td>
		<td height="5" bordercolor="#FFFFFF" bgcolor="#F0F0F0">{{ message_list.ack  }}</td>
	</tr>
{% endif %}
{% if message_list.related  != None and message_list.related  != "" %}
	<tr>
		<td height="5" bgcolor="#C2C2C2">Related</td>
		<td height="5" bordercolor="#FFFFFF" bgcolor="#F0F0F0">{{ message_list.related  }}</td>
	</tr>
{% endif %}
{% if message_list.user  != None and message_list.user  != "" %}
	<tr>
		<td height="5" bgcolor="#C2C2C2">User</td>
		<td height="5" bordercolor="#FFFFFF" bgcolor="#F0F0F0">{{ message_list.user  }}</td>
	</tr>
{% endif %}
{% comment %}
{% if message_list.MessageTypeID != None and message_list.MessageTypeID != "" %}
	<tr>
		<td height="5" width="200" bgcolor="#C2C2C2">Message Type ID</td>
		<td height="5" bordercolor="#FFFFFF" bgcolor="#F0F0F0">{{ message_list.MessageTypeID }}</td>
	</tr>
{% endif %}
{% endcomment %}
{% if message_list.MessageTypeName != None and message_list.MessageTypeName != "" %}
	<tr>
		<td height="5" bgcolor="#C2C2C2">Message Type</td>
		<td height="5" bordercolor="#FFFFFF" bgcolor="#F0F0F0">{{ message_list.MessageTypeName }}</td>
	</tr>
{% endif %}
{% comment %}
{% if message_list.MessageID != None and message_list.MessageID != "" %}
	<tr>
		<td height="5" bgcolor="#C2C2C2">MessageID</td>
		<td height="5" bordercolor="#FFFFFF" bgcolor="#F0F0F0">{{ message_list.MessageID }}</td>
	</tr>
{% endif %}
{% if message_list.SenderID != None and message_list.SenderID != "" %}
	<tr>
		<td height="5" bgcolor="#C2C2C2">SenderID</td>
		<td height="5" bordercolor="#FFFFFF" bgcolor="#F0F0F0">{{ message_list.SenderID }}</td>
	</tr>
{% endif %}
{% endcomment %}
{% if message_list.SenderName != None and message_list.SenderName != "" %}
	<tr>
		<td height="5" bgcolor="#C2C2C2">Sender Name</td>
		<td height="5" bordercolor="#FFFFFF" bgcolor="#F0F0F0">{{ message_list.SenderName }}</td>
	</tr>
{% endif %}
{% if message_list.NPOrderID != None and message_list.NPOrderID != "" %}
	<tr>
		<td height="5" bgcolor="#C2C2C2">NP Order ID</td>
		<td height="5" bordercolor="#FFFFFF" bgcolor="#F0F0F0">{{ message_list.NPOrderID }}</td>
	</tr>
{% endif %}
{% if message_list.EmergencyRestoreID != None and message_list.EmergencyRestoreID != "" %}
	<tr>
		<td height="5" bgcolor="#C2C2C2">Emergency Restore ID</td>
		<td height="5" bordercolor="#FFFFFF" bgcolor="#F0F0F0">{{ message_list.EmergencyRestoreID }}</td>
	</tr>
{% endif %}
{% if message_list.BlockOrderID != None and message_list.BlockOrderID != "" %}
	<tr>
		<td height="5" bgcolor="#C2C2C2">Block Order ID</td>
		<td height="5" bordercolor="#FFFFFF" bgcolor="#F0F0F0">{{ message_list.BlockOrderID }}</td>
	</tr>
{% endif %}
{% if message_list.BlockOrderCount != None and message_list.BlockOrderCount != "" %}
	<tr>
		<td height="5" bgcolor="#C2C2C2">Block Order Count</td>
		<td height="5" bordercolor="#FFFFFF" bgcolor="#F0F0F0">{{ message_list.BlockOrderCount }}</td>
	</tr>
{% endif %}
{% if message_list.ValidationMSISDN != None and message_list.ValidationMSISDN != "" %}
	<tr>
		<td height="5" bgcolor="#C2C2C2">Validation Number</td>
		<td height="5" bordercolor="#FFFFFF" bgcolor="#F0F0F0">{{ message_list.ValidationMSISDN }}</td>
	</tr>
{% endif %}
{% comment %}
{% if message_list.RecipientID != None and message_list.RecipientID != "" %}
	<tr>
		<td height="5" bgcolor="#C2C2C2">Recipient ID</td>
		<td height="5" bordercolor="#FFFFFF" bgcolor="#F0F0F0">{{ message_list.RecipientID }}</td>
	</tr>
{% endif %}
{% endcomment %}
{% if message_list.RecipientName != None and message_list.RecipientName != "" %}
	<tr>
		<td height="5" bgcolor="#C2C2C2">Recipient Name</td>
		<td height="5" bordercolor="#FFFFFF" bgcolor="#F0F0F0">{{ message_list.RecipientName }}</td>
	</tr>
{% endif %}
{% comment %}
{% if message_list.SubscriptionProviderID != None and message_list.SubscriptionProviderID != "" %}
	<tr>
		<td height="5" bgcolor="#C2C2C2">Subscription Provider ID</td>
		<td height="5" bordercolor="#FFFFFF" bgcolor="#F0F0F0">{{ message_list.SubscriptionProviderID }}</td>
	</tr>
{% endif %}
{% endcomment %}
{% if message_list.SubscriptionProviderName != None and message_list.SubscriptionProviderName != "" %}
	<tr>
		<td height="5" bgcolor="#C2C2C2">Subscription Provider Name</td>
		<td height="5" bordercolor="#FFFFFF" bgcolor="#F0F0F0">{{ message_list.SubscriptionProviderName }}</td>
	</tr>
{% endif %}
{% comment %}
{% if message_list.RangeHolderID != None and message_list.RangeHolderID != "" %}
	<tr>
		<td height="5" bgcolor="#C2C2C2">Range Holder ID</td>
		<td height="5" bordercolor="#FFFFFF" bgcolor="#F0F0F0">{{ message_list.RangeHolderID }}</td>
	</tr>
{% endif %}
{% endcomment %}
{% if message_list.RangeHolderName != None and message_list.RangeHolderName != "" %}
	<tr>
		<td height="5" bgcolor="#C2C2C2">Range Holder Name</td>
		<td height="5" bordercolor="#FFFFFF" bgcolor="#F0F0F0">{{ message_list.RangeHolderName }}</td>
	</tr>
{% endif %}
{% comment %}
{% if message_list.DonorID != None and message_list.DonorID != "" %}
	<tr>
		<td height="5" bgcolor="#C2C2C2">Donor ID</td>
		<td height="5" bordercolor="#FFFFFF" bgcolor="#F0F0F0">{{ message_list.DonorID }}</td>
	</tr>
{% endif %}
{% endcomment %}
{% if message_list.DonorName != None and message_list.DonorName != "" %}
	<tr>
		<td height="5" bgcolor="#C2C2C2">Donor Name</td>
		<td height="5" bordercolor="#FFFFFF" bgcolor="#F0F0F0">{{ message_list.DonorName }}</td>
	</tr>
{% endif %}
{% if message_list.DateOfBirth != None and message_list.DateOfBirth != "" %}
	<tr>
		<td height="5" bgcolor="#C2C2C2">Date Of Birth</td>
		<td height="5" bordercolor="#FFFFFF" bgcolor="#F0F0F0">{{ message_list.DateOfBirth }}</td>
	</tr>
{% endif %}
{% if message_list.CustomerName != None and message_list.CustomerName != "" %}
	<tr>
		<td height="5" bgcolor="#C2C2C2">Customer Name</td>
		<td height="5" bordercolor="#FFFFFF" bgcolor="#F0F0F0">{{ message_list.CustomerName }}</td>
	</tr>
{% endif %}
{% if message_list.CustomerID != None and message_list.CustomerID != "" %}
	<tr>
		<td height="5" bgcolor="#C2C2C2">Customer ID</td>
		<td height="5" bordercolor="#FFFFFF" bgcolor="#F0F0F0">{{ message_list.CustomerID }}</td>
	</tr>
{% endif %}
{% if message_list.CustomerIDType != None and message_list.CustomerIDType != "" %}
	<tr>
		<td height="5" bgcolor="#C2C2C2">Customer ID Type</td>
		<td height="5" bordercolor="#FFFFFF" bgcolor="#F0F0F0">{{ message_list.CustomerIDType }}</td>
	</tr>
{% endif %}
{% if message_list.ServiceType != None and message_list.ServiceType != "" %}
	<tr>
		<td height="5" bgcolor="#C2C2C2">Service Type</td>
		<td height="5" bordercolor="#FFFFFF" bgcolor="#F0F0F0">{{ message_list.ServiceType }}</td>
	</tr>
{% endif %}
{% if message_list.CustomerType != None and message_list.CustomerType != "" %}
	<tr>
		<td height="5" bgcolor="#C2C2C2">Customer Type</td>
		<td height="5" bordercolor="#FFFFFF" bgcolor="#F0F0F0">{{ message_list.CustomerType }}</td>
	</tr>
{% endif %}
{% if message_list.SubscriptionType != None and message_list.SubscriptionType != "" %}
	<tr>
		<td height="5" bgcolor="#C2C2C2">Subscription Type</td>
		<td height="5" bordercolor="#FFFFFF" bgcolor="#F0F0F0">{{ message_list.SubscriptionType }}</td>
	</tr>
{% endif %}
{% if message_list.NpcdbRejectReason != None and message_list.NpcdbRejectReason != "" %}
	<tr>
		<td height="5" bgcolor="#C2C2C2">NPCDB Reject Reason</td>
		<td height="5" bordercolor="#FFFFFF" bgcolor="#F0F0F0">{{ message_list.NpcdbRejectReason }}</td>
	</tr>
{% endif %}
{% if message_list.NpcdbRejectMessage != None and message_list.NpcdbRejectMessage != "" %}
	<tr>
		<td height="5" bgcolor="#C2C2C2">NPCDB Reject Message</td>
		<td height="5" bordercolor="#FFFFFF" bgcolor="#F0F0F0">{{ message_list.NpcdbRejectMessage }}</td>
	</tr>
{% endif %}
{% if message_list.CancelReason != None and message_list.CancelReason != "" %}
	<tr>
		<td height="5" bgcolor="#C2C2C2">Cancel Reason</td>
		<td height="5" bordercolor="#FFFFFF" bgcolor="#F0F0F0">{{ message_list.CancelReason }}</td>
	</tr>
{% endif %}
{% if message_list.CancelMessage != None and message_list.CancelMessage != "" %}
	<tr>
		<td height="5" bgcolor="#C2C2C2">Cancel Message</td>
		<td height="5" bordercolor="#FFFFFF" bgcolor="#F0F0F0">{{ message_list.CancelMessage }}</td>
	</tr>
{% endif %}
{% if message_list.PortingTime != None and message_list.PortingTime != "" %}
	<tr>
		<td height="5" bgcolor="#C2C2C2">Porting Time</td>
		<td height="5" bordercolor="#FFFFFF" bgcolor="#F0F0F0">{{ message_list.PortingTime }}</td>
	</tr>
{% endif %}
{% if message_list.AutomaticAccept != None and message_list.AutomaticAccept != "" %}
	<tr>
		<td height="5" bgcolor="#C2C2C2">Automatic Accept</td>
		<td height="5" bordercolor="#FFFFFF" bgcolor="#F0F0F0">{{ message_list.AutomaticAccept }}</td>
	</tr>
{% endif %}
{% if message_list.Balance != None and message_list.Balance != "" %}
	<tr>
		<td height="5" bgcolor="#C2C2C2">Balance</td>
		<td height="5" bordercolor="#FFFFFF" bgcolor="#F0F0F0">{{ message_list.Balance }}</td>
	</tr>
{% endif %}
{% if message_list.DueDate != None and message_list.DueDate != "" %}
	<tr>
		<td height="5" bgcolor="#C2C2C2">Due Date</td>
		<td height="5" bordercolor="#FFFFFF" bgcolor="#F0F0F0">{{ message_list.DueDate }}</td>
	</tr>
{% endif %}
{% if message_list.HandleManually != None and message_list.HandleManually != "" %}
	<tr>
		<td height="5" bgcolor="#C2C2C2">Handle Manually</td>
		<td height="5" bordercolor="#FFFFFF" bgcolor="#F0F0F0">{{ message_list.HandleManually }}</td>
	</tr>
{% endif %}
{% if message_list.OriginalNPOrderID != None and message_list.OriginalNPOrderID != "" %}
	<tr>
		<td height="5" bgcolor="#C2C2C2">Original NPOrder ID</td>
		<td height="5" bordercolor="#FFFFFF" bgcolor="#F0F0F0">{{ message_list.OriginalNPOrderID }}</td>
	</tr>
{% endif %}
{% if message_list.PaymentCode != None and message_list.PaymentCode != "" %}
	<tr>
		<td height="5" bgcolor="#C2C2C2">Payment Code</td>
		<td height="5" bordercolor="#FFFFFF" bgcolor="#F0F0F0">{{ message_list.PaymentCode }}</td>
	</tr>
{% endif %}
{% if message_list.ErrorCode != None and message_list.ErrorCode != "" %}
	<tr>
		<td height="5" bgcolor="#C2C2C2">Error Code</td>
		<td height="5" bordercolor="#FFFFFF" bgcolor="#F0F0F0">{{ message_list.ErrorCode }}</td>
	</tr>
{% endif %}
{% if message_list.Description != None and message_list.Description != "" %}
	<tr>
		<td height="5" bgcolor="#C2C2C2">Description</td>
		<td height="5" bordercolor="#FFFFFF" bgcolor="#F0F0F0">{{ message_list.Description }}</td>
	</tr>
{% endif %}
{% if message_list.IntegrationRAS.all %}
	<tr>
		<td colspan="7" align="center" height="40" bgcolor="#85C2FF">
			<b>RAS Information</b>
		</td>
	</tr>

	{% for IntegrationR in message_list.IntegrationRAS.all %}
		{% if IntegrationR.PhoneNumber != "RANGE" %}
			<tr>
				<td height="5" bgcolor="#C2C2C2">Phone</td>
				<td height="5" bordercolor="#FFFFFF" bgcolor="#F0F0F0">{{ IntegrationR.PhoneNumber }}</td>
			</tr>
			<tr>
				<td height="5" bgcolor="#C2C2C2">SIM</td>
				{% if IntegrationR.SIM %}
					<td height="5" bordercolor="#FFFFFF" bgcolor="#F0F0F0">{{ IntegrationR.SIM }}</td>
				{% else %}
					<td height="5" bordercolor="#FFFFFF" bgcolor="#F0F0F0">{{ IntegrationR.SubscriptionType }}</td>
				{% endif %}
			</tr>
		{% else %}
			<tr>
				<td height="5" bgcolor="#C2C2C2">SIM</td>
				<td height="5" bordercolor="#FFFFFF" bgcolor="#F0F0F0">{{ IntegrationR.SIM }}</td>
			</tr>
		{% endif %}
	{% endfor %}
{% endif %}
</table>




{% if message_list.RoutingInfoList.all %}

<table align="center" border="1" cellspacing="1" style="border-collapse: collapse" width="800" cellpadding="5">
	<tr>
		<td colspan="7" align="center" height="40" bgcolor="#85C2FF">
			<b>Phone Number List</b>
		</td>
	</tr>
	<tr>
		<td height="5" bordercolor="#FFFFFF" bgcolor="#F0F0F0">
		{% for RoutingInfo in message_list.RoutingInfoList.all %}
		
			{% if RoutingInfo.PhoneNumberEnd == RoutingInfo.PhoneNumberStart %}
				{{ RoutingInfo.PhoneNumberStart }}{% if not forloop.last %}, {% endif %}
			{% else %}
				<b>{{ RoutingInfo.PhoneNumberStart }}-{{ RoutingInfo.PhoneNumberEnd }}</b>{% if not forloop.last %}, {% endif %}
			{% endif %}
		{% endfor %}
		</td>
	</tr>
</table>
{% endif %}


{% if stp_message_list.all %}
<table align="center" border="1" cellspacing="1" style="border-collapse: collapse" width="800" cellpadding="5">
	<tr>
		<td colspan="7" align="center" height="40" bgcolor="#85C2FF">
			<b>STP Info</b>
		</td>
	</tr>
	<tr>
		<td height="5" bgcolor="#C2C2C2">Time</td>
		<td height="5" bgcolor="#C2C2C2">Server</td>
		<td height="5" bgcolor="#C2C2C2">Phone #</td>
		<td height="5" bgcolor="#C2C2C2">Route</td>
		<td height="5" bgcolor="#C2C2C2">Status</td>
		<td height="5" bgcolor="#C2C2C2">Command Sent</td>
		<td height="5" bgcolor="#C2C2C2">Response</td>
	</tr>
{% for stp_message in stp_message_list.all %}
	<tr>
		<td height="5" bordercolor="#FFFFFF" bgcolor="#F0F0F0"><font size="1">{{ stp_message.time_stamp }}</font></td>
		<td height="5" bordercolor="#FFFFFF" bgcolor="#F0F0F0">{{ stp_message.server }}</td>
		<td height="5" bordercolor="#FFFFFF" bgcolor="#F0F0F0">{{ stp_message.number }}</td>
		<td height="5" bordercolor="#FFFFFF" bgcolor="#F0F0F0">{{ stp_message.RN }}</td>
		<td height="5" bordercolor="#FFFFFF" bgcolor="#F0F0F0">{{ stp_message.status }}</td>
		<td height="5" bordercolor="#FFFFFF" bgcolor="#F0F0F0"><font size="1">{{ stp_message.command }}</font></td>
		<td height="5" bordercolor="#FFFFFF" bgcolor="#F0F0F0">{{ stp_message.response }}</td>
	</tr>
{% endfor %}
</table>
{% endif %}


{% if message_list.DonorRejectList.all %}

<table align="center" border="1" cellspacing="1" style="border-collapse: collapse" width="800" cellpadding="5">
	<tr>
		<td colspan="7" align="center" height="40" bgcolor="#85C2FF">
			<b>Rejection Information</b>
		</td>
	</tr>
	<tr>
		<td height="5" bgcolor="#C2C2C2">Donor Reject Reason</td>
		<td height="5" bgcolor="#C2C2C2">Donor Reject Message</td>
		<td height="5" bgcolor="#C2C2C2">Phone Number Start</td>
		<td height="5" bgcolor="#C2C2C2">Phone Number End</td>
	</tr>
{% for DonorReject in message_list.DonorRejectList.all %}
	<tr>
		<td height="5" bordercolor="#FFFFFF" bgcolor="#F0F0F0">{{ DonorReject.DonorRejectReason }}</td>
		<td height="5" bordercolor="#FFFFFF" bgcolor="#F0F0F0">{{ DonorReject.DonorRejectMessage }}</td>
		<td height="5" bordercolor="#FFFFFF" bgcolor="#F0F0F0">{{ DonorReject.PhoneNumberStart }}</td>
		<td height="5" bordercolor="#FFFFFF" bgcolor="#F0F0F0">{{ DonorReject.PhoneNumberEnd }}</td>
	</tr>
{% endfor %}
</table>
{% endif %}
<table align="center" border="1" cellspacing="1" style="border-collapse: collapse" width="800" cellpadding="5">
	<tr>
		<td colspan="7" align="center" height="40" bgcolor="#85C2FF">
			<b>Related Messages</b>
		</td>
	</tr>
	<tr>
		<td height="5" bgcolor="#C2C2C2">ID</td>
		<td height="5" bgcolor="#C2C2C2">Message Type</td>
		<td height="5" bgcolor="#C2C2C2">Message Time</td>
		<td height="5" bgcolor="#C2C2C2">Recipient Name</td>
		<td height="5" bgcolor="#C2C2C2">Donor Name</td>
		<td height="5" bgcolor="#C2C2C2">Originator</td>
	</tr>
{% for message in related_message_list %}
	<tr {% if message.MessageLocalID == message_list.MessageLocalID%} bgcolor="#B8FFB8" {% endif %}>
		<td height="5" bordercolor="#FFFFFF">
			<a href="/request/search/{{ message.MessageLocalID }}">{{ message.MessageLocalID }}</a>
		</td>
		<td height="5" bordercolor="#FFFFFF">
			{% if message.MessageTypeName != None %}{{ message.MessageTypeName }}{% endif %}
		</td>
		<td height="5" bordercolor="#FFFFFF">
			{% if message.message_modified != None %}{{ message.message_created }}{% endif %}
		</td>
		<td height="5" bordercolor="#FFFFFF">
			{% if message.RecipientName != None %}{{ message.RecipientName }}{% endif %}
		</td>
		<td height="5" bordercolor="#FFFFFF">
			{% if message.DonorName != None %}{{ message.DonorName }}{% endif %}
		</td>
		<td height="5" bordercolor="#FFFFFF">
			{% if message.Originator != None %}{{ message.Originator }}{% endif %}
		</td>
	</tr>
{% endfor %}
</table>

{% endblock %}