{% extends "web/base.html" %}
{% block title %}NPG / Emergency Restore{% endblock %}
{% block style %}
{% comment %}
<style>
{% endcomment %}
/*
Theme Name: jqueryui-com
Template: jquery
*/

a,
.title {
	color: #B24926;
}

#content a:hover {
	color: #333;
}

#banner-secondary p.intro {
	padding: 0;
	float: left;
	width: 50%;
}

#banner-secondary .download-box {
	border: 1px solid #aaa;
	background: #333;
	background: -moz-linear-gradient(left, #333 0%, #444 100%);
	background: -webkit-linear-gradient(left, #333 0%, #444 100%);
	background: -o-linear-gradient(left, #333 0%, #444 100%);
	background: linear-gradient(to right, #333 0%, #444 100%);
	float: right;
	width: 40%;
	text-align: center;
	font-size: 20px;
	padding: 10px;
	border-radius: 5px;
	box-shadow: 0 0 8px rgba(0, 0, 0, 0.8);
}

#banner-secondary .download-box h2 {
	color: #71D1FF;
	font-size: 26px;
}

#banner-secondary .download-box .button {
	float: none;
	display: block;
	margin-top: 15px;
}

#banner-secondary .download-box p {
	margin: 15px 0 5px;
}

#banner-secondary .download-option {
	width: 45%;
	float: left;
	font-size: 16px;
}

#banner-secondary .download-legacy {
	float: right;
}

#banner-secondary .download-option span {
	display: block;
	font-size: 14px;
	color: #71D1FF;
}

#content .dev-links {
	float: right;
	width: 30%;
	margin: -15px -25px .5em 1em;
	padding: 1em;
	border: 1px solid #666;
	border-width: 0 0 1px 1px;
	border-radius: 0 0 0 5px;
	box-shadow: -2px 2px 10px -2px #666;
}

#content .dev-links ul {
	margin: 0;
}

#content .dev-links li {
	padding: 0;
	margin: .25em 0 .25em 1em;
	background-image: none;
}

.demo-list {
	float: right;
	width: 25%;
}

.demo-list h2 {
	font-weight: normal;
	margin-bottom: 0;
}

#content .demo-list ul {
	width: 100%;
	border-top: 1px solid #ccc;
	margin: 0;
}

#content .demo-list li {
	border-bottom: 1px solid #ccc;
	margin: 0;
	padding: 0;
	background: #eee;
}

#content .demo-list .active {
	background: #fff;
}

#content .demo-list a {
	text-decoration: none;
	display: block;
	font-weight: bold;
	font-size: 13px;
	color: #3f3f3f;
	text-shadow: 1px 1px #fff;
	padding: 2% 4%;
}

.demo-frame {
	width: 70%;
	height: 350px;
}

.view-source a {
	cursor: pointer;
}

.view-source > div {
	overflow: hidden;
	display: none;
}

@media all and (max-width: 600px) {
	#banner-secondary p.intro,
	#banner-secondary .download-box {
		float: none;
		width: auto;
	}

	#banner-secondary .download-box {
		overflow: auto;
	}
}

@media only screen and (max-width: 480px) {
	#content .dev-links {
		width: 55%;
		margin: -15px -29px .5em 1em;
		overflow: hidden;
	}
}

#id_main-PortingTime, #id_main-DateOfBirth{
	width:175px;
}

{% comment %}
</style>
{% endcomment %}
{% endblock %}


{% block head %}
  <link rel="stylesheet" href="/media/jquery/jquery-ui.css" />
 

{% endblock %}

{% block script %}
	
	{% comment %}
	<script>
	{% endcomment %}
	
	$(function() {
		var $RequestType = $('#id_main-RequestType');
		var anmi = 0;
		$RequestType.change(function() {
			var RequestTypeValues = $("#id_main-RequestType").val();
			if (RequestTypeValues == "NewRequest") {
				$('#EmergencyRestoreID').hide(anmi);
				$('#BlockOrderID').hide(anmi);
				$('#BlockOrderCount').hide(anmi);
				$('#DateOfBirth').show(anmi);
				$('#ValidationMSISDN').show(anmi);
				$('#id_main-EmergencyRestoreID').val("");
				$('#id_main-BlockOrderID').val("");
				$('#id_main-BlockOrderCount').val("");
			}
			else if (RequestTypeValues == "NewRequestBlock") {
				$('#EmergencyRestoreID').hide(anmi);
				$('#BlockOrderID').show(anmi);
				$('#BlockOrderCount').show(anmi);
				$('#DateOfBirth').show(anmi);
				$('#id_main-EmergencyRestoreID').val("");
			}
			else if (RequestTypeValues == "EmergencyRestore") {
				$('#EmergencyRestoreID').show(anmi);
				$('#ValidationMSISDN').hide(anmi);
				$('#DateOfBirth').hide(anmi);
				$('#id_main-ValidationMSISDN').val("");
				$('#id_main-DateOfBirth').val("");
			}
		}).trigger('change');
	
		var $ServiceType = $('#id_main-ServiceType');
		$ServiceType.change(function() {
			var ServiceTypeValues = $("#id_main-ServiceType").val();
			if (ServiceTypeValues == 'mobile') {
				$('#SubscriptionType').show(anmi);
			}
			else {
				$('#SubscriptionType').hide(anmi);
				$('#id_main-SubscriptionType').val("");
			}
		}).trigger('change');
	
	
		$(function() {
			$('#date-time-PortingTime input').attr('data-format','yyyy-MM-dd hh:mm:ss');
			$('#date-time-DateOfBirth input').attr('data-format','yyyy-MM-dd');
			var time = new Date()
			var nextMonth = time.setMonth(time.getMonth+1);
			$('#date-time-PortingTime').datetimepicker({
			      language: 'pt-BR',
				  maskInput: true, 
			 });
			
			
			
			$('#date-time-DateOfBirth').datetimepicker({
			      language: 'pt-BR',
				  maskInput: true, 
				  pickTime: false,
		    });
			
		
			//type selector
			$('#id_main-ValidationMSISDN').bind('keyup',function(){
				$('#id_RoutingInfoList-0-PhoneNumberStart').val(
					$('#id_main-ValidationMSISDN').val()
				);
				
				$('#id_RoutingInfoList-0-PhoneNumberEnd').val(
					$('#id_main-ValidationMSISDN').val()
				);
			});
			
			
			$('#id_RoutingInfoList-0-PhoneNumberStart').bind('keyup',function(){
				$('#id_RoutingInfoList-0-PhoneNumberEnd').val(
					$('#id_RoutingInfoList-0-PhoneNumberStart').val()
				);
			});
		});
	
	
		//only set display : table-cell if it has no error
		$('.control-group .error').each(function(){
			$(this).parent().parent().css('display','block');
		});
	
	});
	
	{% comment %}
	</script>
	{% endcomment %}

{% endblock %}

{% block content %}
	<p>
	<div id="SendRequestContainer">
	{% if Respond %}
		<div class="PopupPanel">
		{% if Respond.0 == 200 %}
			<div class="alert alert-block alert-success fade in">
				<button type="button" class="close" data-dismiss="alert">x</button>
				<h4 class="alert-heading">Success!</h4>
				<p>Request has been saved successfully, #{{Respond.1.NPOrderID}}.</p>
			</div>
		{%else%}
			<div class="alert alert-block alert-error fade in">
				<button type="button" class="close" data-dismiss="alert">x</button>
				<h4 class="alert-heading">You got an error!</h4>
				<br>
				<p>Error Code = {{ Respond.1.0.0 }}.</p>
				<p>Error Description = {{ Respond.1.0.1 }}.</p>
			</div>
		{% endif %}
		</div>
	{% endif %}

<h3>New Emergency Restore</h3>
<table class="table table-bordered">
	<thead>
	<tr>
		<th>{{ nform.OriginalNPOrderID.label }}</th>
	</tr>
	</thead>
	<tr>
	<form method="post"  enctype="multipart/form-data" action='/request/erestore/' accept-charset="UTF-8">
		{% csrf_token %}
		<td>
			{{ nform.OriginalNPOrderID }}{{ nform.OriginalNPOrderID.errors }}
		</td>
	</tr>
</table>
<div style="text-align:right;margin-bottom:20px">
	<input type="hidden" name="SubmitType" value="New ER" />
	<input type="submit" class="btn btn-large btn-primary" name="Submit" value="Submit">
</div>
</form>
<table class="table">
	<tr>
		<td style="padding:0">
			<h3>
				Active Emergency Restore
			</h3>
		</td>
	</tr>
	<tr>
		<td colspan="6" style="padding:0">
			<table style="width:100%;padding:0;margin:0" class="table-hover table-striped">
				<thead>
				<tr>
					<th>Order ID</th>
					<th>Created Time</th>
					<th>Created for Order</th>
					<th>Status</th>
					<th>User</th>
					<th>Action</th>
				</tr>
				</thead>

			{% for message in message_list %}
				<tr align="center">
					<td>
						<a href="/request/search/{{ message.MessageLocalID }}" onclick="window.open('/request/search/{{ message.MessageLocalID }}','popup','width=900,height=700,scrollbars=yes,resizable=yes,toolbar=no,directories=no,location=no,menubar=no,status=no,left=50,top=0'); return false">
					{% if message.NPOrderID != None %}
						{{ message.NPOrderID }}
					{% else %}
						<div style="text-align: center">N/A</div>
					{% endif %}
						</a>
					</td>
					<td>{{ message.message_created }}</td>
					<td>
							{{ message.OriginalNPOrderID }}
					</td>
					<td>
						{% load GetChoice %}
						<a title="{{ somevariable|GetStatusDetails:message.status }}">
							{{ somevariable|GetStatusName:message.status }}
						</a>
					</td>
					<td>{{ message.user }}</td>
					<td>
						{% with somevariable|GetStatusAction:message.status as SetStatus %}
							{% ifequal SetStatus "N/A" %}
								No Action
							{% else %}
							<form enctype='multipart/form-data' action='/request/erestore/' method='post' id="{{ message.MessageLocalID }}">
								{% csrf_token %}
								<input type="hidden" name="OriginalNPOrderID" value="{{ message.OriginalNPOrderID }}" />
								<input type="hidden" name="NPOrderID" value="{{ message.NPOrderID }}" />
								<input type="submit" name="SubmitType" value="{{ somevariable|GetStatusAction:message.status }}" class="{{ somevariable|GetStatusActionButton:message.status }}" data-number="{{ message.MessageLocalID }}" />
							</form>
							{% endifequal %}
						{% endwith %}
					</td>
				</tr>
			{% empty %}
			</table>
		</td>
	</tr>
	<tr>
		<td colspan="6">
			<p>No Active Emergency Restore</p>
		</td>
	</tr>
{% endfor %}
</table>


{% endblock %}