<style>
/* LESS CSS */
.dropdown-menu.right {
    left:auto;
    right:0;
    &::before {left:auto !important; right:9px;}
    &::after {left:auto !important; right:10px;}
}

.navbar .nav>li>.dropdown-menu:before, .navbar .nav>li>.dropdown-menu:after{
	content:none !important;
}
</style>

{% if user.is_authenticated %}
	<ul class="nav">
		{% if perms.authenticate.add_request %}
			<li class="nav-one {% if request.get_full_path = "/request/new/" %}active{% endif %}"><a href="/request/new/" class="">New Request</a></li>
		{%endif%}
		{%if perms.authenticate.sent_requests %}
			<li class="nav-three {% if request.get_full_path = "/request/outgoing/" %}active{% endif %}"><a href="/request/outgoing/" class="">Sent Request</a></li>
		{%endif%}
		{%if perms.authenticate.search %}
			<li class="nav-four {% if request.get_full_path = "/request/search/" %}active{% endif %}"><a href="/request/search/" class="">Search</a></li>
		{%endif%}
		{%if perms.authenticate.received_requests %}
			<li class="dropdown nav-six {% if request.get_full_path = "/administration/" %}active{% endif %}">
				<!--<a href="/administration/" class="">Administration</a>-->
				<a class="dropdown-toggle" data-toggle="dropdown" href="#">Others</a>
				<ul class="dropdown-menu right" role="menu" aria-labelledby="dLabel">
					<li class="nav-first "><a class=""  href="/request/erestore/" class="">Emergency Restore</a></li>
					<li class="nav-last "><a class=""  href="/request/ringfence/" class="">Ring Fence</a></li>
					<li class="nav-last "><a class=""  href="/request/npreturn/" class="">NP Return</a></li>
				</ul>
			{% comment %}
				<li class="nav-two {% if request.get_full_path = "/request/incoming/" %}active{% endif %}"><a href="/request/incoming/" class="">Received Request</a></li>
			{% endcomment %}
		{%endif%}
		{%if perms.authenticate.reports %}
			<li class="dropdown nav-six {% if request.get_full_path = "/administration/" %}active{% endif %}">
				<!--<a href="/administration/" class="">Administration</a>-->
				<a class="dropdown-toggle" data-toggle="dropdown" href="#">Administration</a>
				<ul class="dropdown-menu right" role="menu" aria-labelledby="dLabel">
					<li class="nav-first "><a class=""  href="/reports/" class="">Reports</a></li>
					<li class="nav-first "><a class=""  href="/admin/" class="">NPG Admin</a></li>
					{%if user.is_superuser%}
						{% comment %}
							<li class="nav-five "><a class=""  href="/admin/auth/user/" class="">Users</a></li>
							<li class="nav-five "><a class=""  href="/admin/auth/group/" class="">Groups</a></li>
							<li class="nav-six"><a class="" href="/notification/" class="">Notification</a></li>
							<li class="nav-six"><a class="" href="/profile/" class="">Profile</a></li>
							<li class="nav-six"><a class="" href="/moderator/" class="">Moderator</a></li>
							<li class="nav-six"><a class="" href="/admin_create/" class="">Admin create</a></li>
							<li class="nav-six"><a class="" href="/change/" class="">Change Password</a></li>
						{% endcomment %}
					{% endif %}
			</ul>
		{%endif%}
		<li class="nav-seven last {% if request.get_full_path = "/logout/" %}active{% endif %}"><a href="/logout/" class="">Logout</a></li>
	</ul>	
{% endif %}
