{% extends "web/base.html" %}
{% block title %}NPG / New Emergency Restore Request{% endblock %}
{% block style %}
{% comment %}
<style>
{% endcomment %}
/*
Theme Name: jqueryui-com
Template: jquery
*/

a,
.title {
	color: #B24926;
}

#content a:hover {
	color: #333;
}

#banner-secondary p.intro {
	padding: 0;
	float: left;
	width: 50%;
}

#banner-secondary .download-box {
	border: 1px solid #aaa;
	background: #333;
	background: -moz-linear-gradient(left, #333 0%, #444 100%);
	background: -webkit-linear-gradient(left, #333 0%, #444 100%);
	background: -o-linear-gradient(left, #333 0%, #444 100%);
	background: linear-gradient(to right, #333 0%, #444 100%);
	float: right;
	width: 40%;
	text-align: center;
	font-size: 20px;
	padding: 10px;
	border-radius: 5px;
	box-shadow: 0 0 8px rgba(0, 0, 0, 0.8);
}

#banner-secondary .download-box h2 {
	color: #71D1FF;
	font-size: 26px;
}

#banner-secondary .download-box .button {
	float: none;
	display: block;
	margin-top: 15px;
}

#banner-secondary .download-box p {
	margin: 15px 0 5px;
}

#banner-secondary .download-option {
	width: 45%;
	float: left;
	font-size: 16px;
}

#banner-secondary .download-legacy {
	float: right;
}

#banner-secondary .download-option span {
	display: block;
	font-size: 14px;
	color: #71D1FF;
}

#content .dev-links {
	float: right;
	width: 30%;
	margin: -15px -25px .5em 1em;
	padding: 1em;
	border: 1px solid #666;
	border-width: 0 0 1px 1px;
	border-radius: 0 0 0 5px;
	box-shadow: -2px 2px 10px -2px #666;
}

#content .dev-links ul {
	margin: 0;
}

#content .dev-links li {
	padding: 0;
	margin: .25em 0 .25em 1em;
	background-image: none;
}

.demo-list {
	float: right;
	width: 25%;
}

.demo-list h2 {
	font-weight: normal;
	margin-bottom: 0;
}

#content .demo-list ul {
	width: 100%;
	border-top: 1px solid #ccc;
	margin: 0;
}

#content .demo-list li {
	border-bottom: 1px solid #ccc;
	margin: 0;
	padding: 0;
	background: #eee;
}

#content .demo-list .active {
	background: #fff;
}

#content .demo-list a {
	text-decoration: none;
	display: block;
	font-weight: bold;
	font-size: 13px;
	color: #3f3f3f;
	text-shadow: 1px 1px #fff;
	padding: 2% 4%;
}

.demo-frame {
	width: 70%;
	height: 350px;
}

.view-source a {
	cursor: pointer;
}

.view-source > div {
	overflow: hidden;
	display: none;
}

@media all and (max-width: 600px) {
	#banner-secondary p.intro,
	#banner-secondary .download-box {
		float: none;
		width: auto;
	}

	#banner-secondary .download-box {
		overflow: auto;
	}
}

@media only screen and (max-width: 480px) {
	#content .dev-links {
		width: 55%;
		margin: -15px -29px .5em 1em;
		overflow: hidden;
	}
}

#id_main-PortingTime, #id_main-DateOfBirth{
	width:175px;
}

{% comment %}
</style>
{% endcomment %}
{% endblock %}


{% block head %}
  <link rel="stylesheet" href="/media/jquery/jquery-ui.css" />
{% endblock %}

{% block script %}

{% comment %}
<script>
{% endcomment %}

$(function() {
	var anmi = 0;	
	var $RequestType = $('#id_main-RequestType');

	var $SubscriptionType = $('#id_RAS-0-SubscriptionType');
	$SubscriptionType.change(function() {
		var SubscriptionTypeValues = $("#id_RAS-0-SubscriptionType").val();
		if (SubscriptionTypeValues == 'postpaid') {
			$('#SIMNumber').hide(anmi);
			$('#id_RAS-0-SIM').val("");
		}
		else {
			$('#SIMNumber').show(anmi);
		}
	}).trigger('change');


	//only set display : table-cell if it has no error
	$('.control-group .error').each(function(){
		$(this).parent().parent().css('display','block');
	});

});

{% comment %}
</script>
{% endcomment %}

{% endblock %}

{% block content %}
<p>
<div id="SendRequestContainer">
{% if Respond %}
<div class="PopupPanel">
{%if Respond.0 == 200%}
	<div class="alert alert-block alert-success fade in">
		<button type="button" class="close" data-dismiss="alert">x</button>
		<h4 class="alert-heading">Success!</h4>
		<p>Request has been saved successfully, #{{Respond.1.NPOrderID}}.</p>
	</div>
{%else%}
	<div class="alert alert-block alert-error fade in">
		<button type="button" class="close" data-dismiss="alert">x</button>
		<h4 class="alert-heading">You got an error!</h4>
		<br>
		<p>Error Code = {{ Respond.1.0.0 }}.</p>
		<p>Error Description = {{ Respond.1.0.1 }}.</p>
	</div>
{%endif%}
</div>
{% endif %}
	<form method="post"  enctype="multipart/form-data" action='/request/erestore/' accept-charset="UTF-8">
		{% csrf_token %}
		<fieldset style="float:left;width:47%">
			<legend>Customer Information</legend>
			<div class="CustomerInformation">
			{{ nnform.management_form }}
			{% for field in nnform %}
				
				
				<div class="control-group all" id="{{ field.label|cut:" " }}">
					{% if field.errors %}
						<div class="control-group error">
					{% endif %}
					
					{{ field.label_tag }}
					<div class="CIfield">
						{% if field.name == "PortingTime"%}
						<div id="date-time-{{field.name}}" class="input-append date">
						    {{ field }}
						    <span class="add-on">
						      <i data-time-icon="icon-time" data-date-icon="icon-calendar">
						      </i>
						    </span>
						  </div>
						{%else%}
						{{ field }}
						{%endif%}
						
						{{ field.errors }}
						</div>

					{% if field.errors %}
						</div>
					{% endif %}
					<div class="clear-both"></div>
				</div>
				{% endfor %}
			</div>
		</fieldset>
		<fieldset id="RoutingInfoList" style="float:left;width:45%;padding-left:35px;margin-top:0;margin-bottom:30px">
			<legend>Phone Number List</legend>
			<textarea name="BulkPhoneNumber" id="BulkPhoneNumber" style="margin: 0px 0px 10px; width: 413px; height: 76px; ">{{ BulkPhoneNumber }}</textarea>
			<font size="2">
				<p><b>Format:</b> use space, comma, return separator between numbers/range. Use dash between ranges.</p><b>Example:</b><br>Single #: 90000000<br>Multiple single #: 90000000,90000002,90000004<br>Range #: 90000010-90000022<br>Single and range #: 90000000,90000004,90000010-90000022,90000002
			</font>
			{% if BulkPhoneError %}
			<ul>
				<font color="red">{{ BulkPhoneError }}</font>
			</ul>
			{% endif %}
		</fieldset>
		<fieldset id="RoutingInfoList" style="float:left;width:45%;padding-left:35px;margin-top:0;margin-bottom:15px">
			<legend>New Subscription Info</legend>
				{{ rasform.management_form }}
				{% for eachform in rasform %}
					{% for field in eachform %}
						{% if field.is_hidden %}
						{% else %}
							<div id="{{ field.label|cut:" " }}">
								{{ field.label_tag }}{{ field }}
								{% if field.errors %}
								<font color="red">
									<p class='phone-error'>
										{{ field.errors }}
									</p>
								</font>
								{% endif %}

							</div>
						{% endif %}
					{% endfor %}
				{% endfor %}
		</fieldset>
		<div class="button_diva" style="float:right;width:460px;margin-top:30px">
			<input type="hidden" name="SubmitType" value="New Request" />
			<input type="submit" class="btn btn-large btn-primary" name="Submit" value="Submit">
		</div>
	</form>
</div>

{% endblock %}