{% extends "web/base.html" %}
{% block title %}NPG / {{ PageName }}{% endblock %}

{% block head %}
{% endblock %}

{% block script %}
		function onSelect(objSelect){
			if (objSelect.value=="Y") {
				document.getElementById("otherOpt").style.display='block'; // Show Options
			}else{
				document.getElementById("otherOpt").style.display='none'; // hide Options
			}
		}
		function onSelect2(objSelect){
			if (objSelect.value=="1") {
				document.getElementById("otherOpt1").style.display='block'; // Show Options
			}else{
				document.getElementById("otherOpt1").style.display='none'; // hide Options
			}
		}
{% if message_list %}
	{% for message in message_list %}
		function confSubmit{{ message.message_id }}(form) {
            if (confirm("Are you sure you want to Cancel order #{{ message.message_id }}\nPhone #: \b{{ message.number }}")) {
                form.submit();
            }
        }
	{% endfor %}
{% endif %}
	<script src="/media/tooltip/jquery.js" type="text/javascript"></script>
	<script src="/media/tooltip/main.js" type="text/javascript"></script>
	<link rel="stylesheet" type="text/css" href="/media/tooltip/style.css" />
	<script type="text/javascript">
		jQuery.fn.preventDoubleSubmit = function() {
			jQuery(this).submit(function() {
				if (this.beenSubmitted)
					return false;
				else
					this.beenSubmitted = true;
				});
			};
		jQuery('#CancelButton').preventDoubleSubmit();
		</script>
		
{% endblock %}
{% block content %}

{% if Respond %}
<div class="PopupPanel">
{%if Respond.0 == 200%}
	<div class="alert alert-block alert-success fade in">
		<button type="button" class="close" data-dismiss="alert">x</button>
		<h4 class="alert-heading">Success!</h4>
		<p>Request delivered successfully, #{{Respond.1.NPOrderID}}.</p>
	</div>
{%else%}
	<div class="alert alert-block alert-error fade in">
		<button type="button" class="close" data-dismiss="alert">x</button>
		<h4 class="alert-heading">You got an error!</h4>
		<p>{{ Respond.1.NpcdbReject.Description }}</p>
	</div>
{%endif%}
</div>
{%endif%}
<style>
#id_main-User, #id_main-Status{
width:200px
}

</style>
<h3>Filter</h3>


<table class="table table-bordered">

	<thead>
	<tr>
		<th>{{ form.PhoneNumber.label }}</th>
	</tr>
	</thead>
	<tr>
	<form method='post'>
		{% csrf_token %}
		<td>
			{{ form.PhoneNumber }}{{ form.PhoneNumber.errors }}
		</td>
	</tr>
	
</table>
<div style="text-align:right;margin-bottom:20px">
	<input type="submit" name="SubmitType" value="Filter" class="btn btn-success">
</div>
</form>									

<table class="table">
{% if reply_list %}
	<tr>
		<td colspan="6">
			<p align="center">
			<font face='Candara' size=4 color='#FFFFFF'>
				<b>Results</b>
			</font>
		</td>
	</tr>
	<tr>
		<td colspan="6">
			{% for key,value in reply_list.items %}
				<div align="left" width="30px;" style="font-weight: normal; font-family: Candara; font-size: 12px;">
					<b>{{ key }}:</b> {{ value }}
				</div>
			{% endfor %}
		</td>
	</tr>
	{% endif %}
	<tr>
		<td style="padding:0">
			<h3>
				Active NP Return
			</h3>
		</td>
	</tr>
	<tr>
		<td colspan="6" style="padding:0">
			<table style="width:100%;padding:0;margin:0" class="table-hover table-striped">
				<thead>
				<tr>
					<th>NP Order ID</th>
					<th>Phone Number</th>
					<th>Status</th>
					<th>Sent Time</th>
					<th style="width:150px;text-align:center">Action</th>
				</tr>
				</thead>

			{% for message in message_list %}
				<tr align="center">
					<td>
						<a href="/request/search/{{ message.MessageLocalID }}" onclick="window.open('/request/search/{{ message.MessageLocalID }}','popup','width=900,height=700,scrollbars=yes,resizable=yes,toolbar=no,directories=no,location=no,menubar=no,status=no,left=50,top=0'); return false">
					{% if message.NPOrderID != None %}
						{{ message.NPOrderID }}
					{% else %}
						<div style="text-align: center">N/A</div>
					{% endif %}
						</a>
					</td>
					
					<td style="width:210px;text-align:left">
						{% for RoutingInfo in message.RoutingInfoList.all %}
						
							{% if RoutingInfo.PhoneNumberEnd == RoutingInfo.PhoneNumberStart %}
								{{ RoutingInfo.PhoneNumberStart }}{% if not forloop.last %}, {% endif %}
							{% else %}
								<b>{{ RoutingInfo.PhoneNumberStart }}-{{ RoutingInfo.PhoneNumberEnd }}</b>{% if not forloop.last %}, {% endif %}
							{% endif %}
						{% endfor %}
					</td>{% load GetChoice %}
					<td><a  title="{{ somevariable|GetStatusDetails:message.status }}">{{ somevariable|GetStatusName:message.status }}</a></td>
					<td>{{ message.message_created }}</a></td>
					<td  style="width:200px;text-align:right">
					
						{% with somevariable|GetStatusAction:message.status as SetStatus %}
							{% ifequal SetStatus "N/A" %}
								No Action
							{% else %}
							<form enctype='multipart/form-data' action='/request/npreturn/' method='post' id="{{ message.MessageLocalID }}">
								{% csrf_token %}
								<input type="hidden" name="MessageLocalID" value="{{ message.MessageLocalID }}" />
								<input type="submit" name="SubmitType" value="{{ somevariable|GetStatusAction:message.status }}" class="{{ somevariable|GetStatusActionButton:message.status }}" data-number="{{ message.MessageLocalID }}" />
								<input type="hidden" name="SubmitType" value="{{ somevariable|GetStatusAction:message.status }}" class="submitValue" />
							</form>
							{% endifequal %}
						{% endwith %}
					</td>
				</tr>
				
		{% empty %}
		</table>
	
		</td>
	</tr>
	<tr>
		<td colspan="6">
			<p>No active NP Return</p>
		</td>
	</tr>
{% endfor %}
</table>

<div id="confirmDiv" >
   
</div> 

<script type="text/javascript">

$(function () {
		var last ;
        $(".cancel_rq").click(function (e) {
        	e.preventDefault();
	        e.stopPropagation();
            openConfirmModal();
            last = this;
        });
        
        function openConfirmModal() {
            $("#confirmDiv").confirmModal({
                heading: 'Confirm your action',
                body: 'Are you sure you want to cancel selected request?',
                callback: function () {
//               last.trigger("click");
								 var id = $(last).attr("data-number");
								 var form_id = "#"+id;
//							 $(form_id).find('input[class="submitValue"]').val('Cancel');
								 $(form_id).submit();
                }
            });
        }
    });

</script>

{% endblock %}
