{% extends "web/base.html" %}
{% block title %}NPG / New Request{% endblock %}
{% block style %}
{% comment %}
<style>
{% endcomment %}

{% comment %}
</style>
{% endcomment %}
{% endblock %}


{% block script %}

{% comment %}
<script>
{% endcomment %}

{% comment %}
</script>
{% endcomment %}

{% endblock %}

{% block content %}
<p>
<div id="SendRequestContainer">
{% if Respond %}
<div class="PopupPanel">
{%if Respond.0 == 200%}
	<div class="alert alert-block alert-success fade in">
		<button type="button" class="close" data-dismiss="alert">x</button>
		<h4 class="alert-heading">Success!</h4>
		<p>Request has been saved successfully, #{{Respond.1.NPOrderID}}.</p>
	</div>
{%else%}
	<div class="alert alert-block alert-error fade in">
		<button type="button" class="close" data-dismiss="alert">x</button>
		<h4 class="alert-heading">You got an error!</h4>
		<p>{{ Respond.1.ErrorNotification.NpcdbRejectMessage }}.</p>
	</div>
{%endif%}
</div>
{% endif %}
	<form method="post"  enctype="multipart/form-data" action='{{request.path}}' accept-charset="UTF-8">
		{% csrf_token %}
		<fieldset style="float:left;width:47%">
			<legend>Return Number to Range Holder</legend>
			<div class="CustomerInformation">
				{% for field in nform %}
				<div class="control-group all" id="{{ field.label|cut:" " }}">
					{% if field.errors %}
						<div class="control-group error">
					{% endif %}
					
					{{ field.label_tag }}
					<div class="CIfield">{{ field }}{{ field.errors }}</div>

					{% if form.field.errors %}
						</div>
					{% endif %}
					<div class="clear-both"></div>
				</div>
				{% endfor %}
			</div>
		</fieldset>
		<fieldset id="RoutingInfoList" style="float:left;width:45%;padding-left:35px;margin-top:0;margin-bottom:83px">
			<legend>Phone Number Info</legend>
				

			<label id="phonelabel" for="PhoneNumberStart">Phone # Start</label>
			<label id="phonelabel" for="PhoneNumberEnd">Phone # End</label>
			<input type="submit" class="btn btn-small" name="addPhone" value="+">

			<div class="div_phonetexbox">
				{{ rform.management_form }}
				
				{% for eachform in rform %}
				<div class="phonecontainer clearfix">
					{% for field in eachform %}
						
						{{ field }}
						{% if field.errors %}
						<p class='phone-error'>{{ field.errors }}</p>
						{% endif %}
					{% endfor %}
				</div>
				{% endfor %}
				{% if rform.management_form.TOTAL_FORMS.value > 1 %}
					<input type="submit" class="btn btn-small" name="delPhone" value="-">
				{% endif %}
			</div>			
		</fieldset>
		<div class="button_diva" style="float:right;width:460px">
			<input type="submit" class="btn btn-large btn-primary" name="Submit" value="Submit">
		</div>
	</form>
</div>

{% endblock %}