{% extends "web/base.html" %}

{% block title %}NPG / {{ PageName }}{% endblock %}


{% block script %}
		function onSelect(objSelect){
			if (objSelect.value=="Y") {
				document.getElementById("otherOpt").style.display='block'; // Show Options
			}else{
				document.getElementById("otherOpt").style.display='none'; // hide Options
			}
		}
		function onSelect2(objSelect){
			if (objSelect.value=="1") {
				document.getElementById("otherOpt1").style.display='block'; // Show Options
			}else{
				document.getElementById("otherOpt1").style.display='none'; // hide Options
			}
		}
{% if message_list %}
	{% for message in message_list %}
		function confSubmit{{ message.message_id }}(form) {
            if (confirm("Are you sure you want to Cancel order #{{ message.message_id }}\nPhone #: \b{{ message.number }}")) {
                form.submit();
            }
        }
	{% endfor %}
{% endif %}
	
	</script>
	<script src="jquery.js" type="text/javascript"></script>
	<script type="text/javascript">
		jQuery.fn.preventDoubleSubmit = function() {
			jQuery(this).submit(function() {
				if (this.beenSubmitted)
					return false;
				else
					this.beenSubmitted = true;
				});
			};
		jQuery('#CancelButton').preventDoubleSubmit();
		</script>
{% endblock %}
{% block content %}

{% if Respond %}
<div class="PopupPanel">
{%if Respond.0 == 200%}
	<div class="alert alert-block alert-success fade in">
		<button type="button" class="close" data-dismiss="alert">x</button>
		<h4 class="alert-heading">Success!</h4>
		<p>Request has been accepted successfully, #{{Respond.1.NPOrderID}}.</p>
	</div>
{%else%}
	<div class="alert alert-block alert-error fade in">
		<button type="button" class="close" data-dismiss="alert">x</button>
		<h4 class="alert-heading">You got an error!</h4>
		<p>{{ Respond.1.ErrorNotification.NpcdbRejectMessage }}</p>
	</div>
{%endif%}
</div>
{%endif%}

<h3>Filter</h3>


<table class="table table-bordered">

	<thead>
	<tr>
		<th>{{ form.NPOrderID.label }}</th>
		<th>{{ form.PhoneNumber.label }}</th>
	</tr>
	</thead>
	<tr>
	<form method='post'>
		{% csrf_token %}
		<td>
			{{ form.NPOrderID }}{{ form.NPOrderID.errors }}
		</td>
		<td>
			{{ form.PhoneNumber }}{{ form.PhoneNumber.errors }}
		</td>
	</tr>
	
</table>
<div style="text-align:right;margin-bottom:20px">
	<input type="submit" name="SubmitType" value="Filter" class="btn btn-success">
	<input type="submit" name="SubmitType" value="Reset" class="btn">
</div>
</form>									

<table class="table">
	<tr>
		<td style="padding:0">
			<h3>
				Sent Request
			</h3>
		</td>
	</tr>
	<tr>
		<td colspan="6" style="padding:0">
			<table style="width:100%;padding:0;margin:0" class="table-hover table-striped">
				<thead>
				<tr>
					<th>NP Order ID</th>
					<th>Customer Name</th>
					<th>Recipient</th>
					<th>Phone Number</th>
					<th>Status</th>
					<th style="width:150px;text-align:center">Action</th>
				</tr>
				</thead>
			
			<style>
			#RoutingInfoList, #AttachmentList{
				margin-top:20px;
			}
			</style>
			{% for message in message_list %}
				<tr align="center">
					<td>
						<a href="{% if message.NPOrderID != None %}/request/search/{{ message.MessageLocalID }}{% endif %}" onclick="window.open('{% if message.NPOrderID != None %}/request/search/{{ message.MessageLocalID }}{% endif %}','popup','width=900,height=700,scrollbars=yes,resizable=yes,toolbar=no,directories=no,location=no,menubar=no,status=no,left=50,top=0'); return false">{% if message.NPOrderID != None %}{{ message.NPOrderID }}{% endif %}</a>
					</td>
					<td>{{ message.CustomerName }}</td>
					<td>{{ message.RecipientName }}</td>
					
					<td>
						{% for RoutingInfo in message.RoutingInfoList.all %}
							<table border="0">
	
								<tr class="phone content">
									<td style="border:0;padding:0">{{ RoutingInfo.PhoneNumberStart }}</td>
									<td style="border:0;padding:0">&nbsp;&nbsp;&nbsp;&nbsp;</td>
									<td style="border:0;padding:0">{{ RoutingInfo.PhoneNumberEnd }}</td>
								</tr>
							</table>
						{% endfor %}
					</td>{% load GetChoice %}
					<td><a class="tooltip" title="{{ somevariable|GetStatusDetails:message.status }}">{{ somevariable|GetStatusName:message.status }}</a></td>
					<td  style="width:200px;text-align:right">
						<div id="inner_action_form" style='display:none' class="reject_form_{{ message.MessageLocalID }}">
							<form method="post"  enctype="multipart/form-data" action='{{request.path}}' accept-charset="UTF-8" 	
							id="reject_form_{{ message.MessageLocalID }}">
								{% csrf_token %}
								<fieldset style="">
									<legend style='border:0'></legend>
									<div class="CustomerInformation">
										{% for field in nform %}
										<div class="control-group all" id="{{ field.label|cut:" " }}">
											{% if field.errors %}
											<div class="control-group error">
											{% endif %}
											{{ field.label_tag }}
											<div class="CIfield">{{ field }}{{ field.errors }}</div>
											{% if form.field.errors %}
											</div>
											{% endif %}
											<div class="clear-both"></div>
										</div>
										{% endfor %}
									</div>
								</fieldset>
								<fieldset id="AttachmentList" style="">
									<legend>Document Attachments (Optional)</legend>
									{{ aform.management_form }}
									{% for eachform in aform %}
										{% for field in eachform %}
											{{ field }}
										{% endfor %}
									{% endfor %}
								</fieldset>
								<div style="float:right;width:460px;">
									<input type="hidden" name="MessageLocalID" value="{{ message.MessageLocalID }}" />
									<input type="hidden" name="SubmitType" value="Reject">
								</div>
								
							</div>
							<div style="float:right;width:330px">
								<input type="hidden" name="MessageLocalID" value="{{ message.MessageLocalID }}" />
								{% if message.status == "1" %}
								<input type="submit" name="SubmitType" value="Reject" class='btn btn-danger cancel_rq' data-value="{{ message.MessageLocalID }}">
								<input type="submit" name="SubmitType" value="Accept" class='btn btn-success'>
								{% endif %}
							</div>
						</form>					
					</td>
				</tr>
				

		{% empty %}
		</table>

		</td>
	</tr>
	<tr>
		<td colspan="6">
			<p>No incoming request</p>
		</td>
	</tr>
{% endfor %}
</table>

<div id="confirmDiv" >
   
</div> 

<script type="text/javascript">

$(function () {
		var last ;
        $(".cancel_rq").click(function (e) {
        	e.preventDefault();
	        e.stopPropagation();
            last = this;
			openConfirmModal();
        });
        
        function openConfirmModal() {
          $("#confirmDiv").confirmModal({
            heading: 'Confirm your action',
            body: $(".reject_form_"+ $(last).attr("data-value")).html(),
            callback: function () {
							//submit the form
							var form_id = ".modal-body #reject_form_"+ $(last).attr("data-value");
							$(form_id).find('input[name="SubmitType"]').val('Reject');
							$(form_id).submit();
            }
          });
        }
    });

</script>

{% endblock %}