{% extends "web/base.html" %}
{% block title %}NPG / New Request{% endblock %}
{% block style %}
{% comment %}
<style>
{% endcomment %}
/*
Theme Name: jqueryui-com
Template: jquery
*/

a,
.title {
	color: #B24926;
}

#content a:hover {
	color: #333;
}

#banner-secondary p.intro {
	padding: 0;
	float: left;
	width: 50%;
}

#banner-secondary .download-box {
	border: 1px solid #aaa;
	background: #333;
	background: -moz-linear-gradient(left, #333 0%, #444 100%);
	background: -webkit-linear-gradient(left, #333 0%, #444 100%);
	background: -o-linear-gradient(left, #333 0%, #444 100%);
	background: linear-gradient(to right, #333 0%, #444 100%);
	float: right;
	width: 40%;
	text-align: center;
	font-size: 20px;
	padding: 10px;
	border-radius: 5px;
	box-shadow: 0 0 8px rgba(0, 0, 0, 0.8);
}

#banner-secondary .download-box h2 {
	color: #71D1FF;
	font-size: 26px;
}

#banner-secondary .download-box .button {
	float: none;
	display: block;
	margin-top: 15px;
}

#banner-secondary .download-box p {
	margin: 15px 0 5px;
}

#banner-secondary .download-option {
	width: 45%;
	float: left;
	font-size: 16px;
}

#banner-secondary .download-legacy {
	float: right;
}

#banner-secondary .download-option span {
	display: block;
	font-size: 14px;
	color: #71D1FF;
}

#content .dev-links {
	float: right;
	width: 30%;
	margin: -15px -25px .5em 1em;
	padding: 1em;
	border: 1px solid #666;
	border-width: 0 0 1px 1px;
	border-radius: 0 0 0 5px;
	box-shadow: -2px 2px 10px -2px #666;
}

#content .dev-links ul {
	margin: 0;
}

#content .dev-links li {
	padding: 0;
	margin: .25em 0 .25em 1em;
	background-image: none;
}

.demo-list {
	float: right;
	width: 25%;
}

.demo-list h2 {
	font-weight: normal;
	margin-bottom: 0;
}

#content .demo-list ul {
	width: 100%;
	border-top: 1px solid #ccc;
	margin: 0;
}

#content .demo-list li {
	border-bottom: 1px solid #ccc;
	margin: 0;
	padding: 0;
	background: #eee;
}

#content .demo-list .active {
	background: #fff;
}

#content .demo-list a {
	text-decoration: none;
	display: block;
	font-weight: bold;
	font-size: 13px;
	color: #3f3f3f;
	text-shadow: 1px 1px #fff;
	padding: 2% 4%;
}

.demo-frame {
	width: 70%;
	height: 350px;
}

.view-source a {
	cursor: pointer;
}

.view-source > div {
	overflow: hidden;
	display: none;
}

@media all and (max-width: 600px) {
	#banner-secondary p.intro,
	#banner-secondary .download-box {
		float: none;
		width: auto;
	}

	#banner-secondary .download-box {
		overflow: auto;
	}
}

@media only screen and (max-width: 480px) {
	#content .dev-links {
		width: 55%;
		margin: -15px -29px .5em 1em;
		overflow: hidden;
	}
}

#id_main-PortingTime, #id_main-DateOfBirth{
	width:175px;
}

{% comment %}
</style>
{% endcomment %}
{% endblock %}


{% block head %}
  <link rel="stylesheet" href="http://code.jquery.com/ui/1.10.3/themes/smoothness/jquery-ui.css" />
 

{% endblock %}

{% block script %}

{% comment %}
<script>
{% endcomment %}

{% comment %}
</script>
{% endcomment %}
{% endblock %}
{% block content %}
	<p></p>
	<div id="SendRequestContainer">
		{% if Respond %}
			<div class="PopupPanel">
				{%if Respond.0 == 200%}
					<div class="alert alert-block alert-success fade in">
						<button type="button" class="close" data-dismiss="alert">x</button>
						<h4 class="alert-heading">Success!</h4>
						<p>Request has been saved successfully, #{{Respond.1.NPOrderID}}.</p>
					</div>
				{%else%}
					<div class="alert alert-block alert-error fade in">
						<button type="button" class="close" data-dismiss="alert">x</button>
						<h4 class="alert-heading">You got an error!</h4>
						<br>
						<p>Error Code = {{ Respond.1.0.0 }}.</p>
						<p>Error Description = {{ Respond.1.0.1 }}.</p>
					</div>
				{%endif%}
			</div>
		{% endif %}
	</div>
	<form method="post"  enctype="multipart/form-data" action='/request/ringfence/' accept-charset="UTF-8">
		{% csrf_token %}
    <h3>New Ring Fence</h3>
      <table class="table table-bordered">
        <thead>
        <tr>
					<textarea name="BulkPhoneNumber" id="BulkPhoneNumber" style="margin: 0px 0px 10px; width: 928px; height: 60px; ">{{ BulkPhoneNumber }}</textarea>
        </tr>
        </thead>
				<tr>
					<td>
						<font size="2">
							<p><b>Format:</b> use space, comma, return separator between numbers/range. Use dash between ranges.</p><b>Example:</b><br>Single #: 90000000<br>Multiple single #: 90000000,90000002,90000004<br>Range #: 90000010-90000022<br>Single and range #: 90000000,90000004,90000010-90000022,90000002</p>
						</font>
						{% if BulkPhoneError %}
							<ul>
								<font color="red">{{ BulkPhoneError }}</font>
							</ul>
						{% endif %}
					</td>
				</tr>
      </table>
      <div style="text-align:right;margin-bottom:20px">
          <input type="submit" class="btn btn-large btn-primary" name="Submit" value="Submit">
      </div>
    </form>
		<table class="table">
		<tr>
			<td style="padding:0">
				<h3>
					Active Ring Fence
				</h3>
			</td>
		</tr>
		<tr>
			<td colspan="6" style="padding:0">
				<table style="width:100%;padding:0;margin:0" class="table-hover table-striped">
					<thead>
					<tr>
						<th>NP Order ID</th>
						<th>Phone Number</th>
						<th>Start Date</th>
						<th>End Date</th>
						<th>Status</th>
					</tr>
					</thead>
				{% for message in message_list %}
					<tr align="center">
						<td>
							<a href="{% if message.NPOrderID != None %}/request/search/{{ message.MessageLocalID }}{% endif %}" onclick="window.open('{% if message.NPOrderID != None %}/request/search/{{ message.MessageLocalID }}{% endif %}','popup','width=900,height=700,scrollbars=yes,resizable=yes,toolbar=no,directories=no,location=no,menubar=no,status=no,left=50,top=0'); return false">{% if message.NPOrderID != None %}{{ message.NPOrderID }}{% endif %}</a>
						</td>
	
						<td>
							{% for RoutingInfo in message.RoutingInfoList.all %}
								<table border="0">
	
									<tr class="phone content">
										<td style="border:0;padding:0">{{ RoutingInfo.PhoneNumberStart }}</td>
										<td style="border:0;padding:0">&nbsp;&nbsp;&nbsp;&nbsp;</td>
										<td style="border:0;padding:0">{{ RoutingInfo.PhoneNumberEnd }}</td>
									</tr>
								</table>
							{% endfor %}
						</td>
						<td>{{ message.message_modified }}</td>
						<td>
							{% load GetChoice %}
							{{ somevariable|RingFenceEndDate:message.message_modified }}
						</td>
						<td>
							<a title="{{ somevariable|GetStatusDetails:message.status }}">{{ somevariable|GetStatusName:message.status }}</a>
						</td>
					</tr>
	
			{% empty %}
			</table>
	
			</td>
		</tr>
		<tr>
			<td colspan="6">
				<p>No Active Ring Fence</p>
			</td>
		</tr>
	{% endfor %}
	</table>
{% endblock %}