{% extends "web/base.html" %}

{% block title %}NPG - {{ PageName }}{% endblock %}

{% block head %}
  <link rel="stylesheet" href="/media/datepicker/jquery-ui.css" />
  <script src="/media/datepicker/jquery-1.9.1.js"></script>
  <script src="/media/datepicker/jquery-ui.js"></script>
  <link rel="stylesheet" href="/media/datepicker/style.css" />
{% endblock %}


{% block script %}

{% comment %}
<script>
{% endcomment %}
	$(function() {
		$( "#id_DateFrom" ).datepicker({
			changeMonth: true,
			
			yearRange: "2013:Y",
			maxDate: "D",
			dateFormat: 'yy-mm-dd',
		});
		$( "#id_DateTo" ).datepicker({
			changeMonth: true,
			
			yearRange: "2013:Y",
			maxDate: "D",
			dateFormat: 'yy-mm-dd',
		});
		$( "#id_ExecutionDateFrom" ).datepicker({
			changeMonth: true,
			
			yearRange: "2013:Y",
			maxDate: "D",
			dateFormat: 'yy-mm-dd',
		});
		$( "#id_ExecutionDateTo" ).datepicker({
			changeMonth: true,
			
			yearRange: "2013:Y",
			maxDate: "D",
			dateFormat: 'yy-mm-dd',
		});
});
{% comment %}
</script>
{% endcomment %}

{% endblock %}



{% block content %}
<h3>Search Messages</h3>
<table class="table table-bordered">
	<thead>
	<tr>
		<th>{{ form.NPOrderID.label }}</th>
		<th>{{ form.PhoneNumber.label }}</th>
		<th>{{ form.DonorName.label }}</th>
		<th>{{ form.RecipientName.label }}</th>
		<th>{{ form.Originator.label }}</th>
	</tr>
	</thead>
	<tr>
	<form enctype='multipart/form-data' name='Search' id='Search' action='/request/search/' method='post'>
		{% csrf_token %}
		<td>
			{{ form.NPOrderID }}{{ form.NPOrderID.errors }}
		</td>
		<td>
			{{ form.PhoneNumber }}{{ form.PhoneNumber.errors }}
		</td>
		<td>
			{{ form.DonorName }}{{ form.DonorName.errors }}
		</td>
		<td>
			{{ form.RecipientName }}{{ form.RecipientName.errors }}
		</td>
		<td>
			{{ form.Originator }}{{ form.Originator.errors }}
		</td>
	</tr>
</table>
<table class="table table-bordered">
	<thead>
	<tr>
		<th>{{ form.MessageTypeName.label }}</th>
		<th>{{ form.ack.label }}</th>
		<th>Status</th>
		{% comment %}
		<th>To</th>
		<th>Ack</th>
		{% endcomment %}
	</tr>
	<tr>
		<td>
			{{ form.MessageTypeName }}{{ form.MessageTypeName.errors }}
		</td>
		<td>
			{{ form.ack }}{{ form.ack.errors }}
		</td>
		<td>
			{{ form.Status }}{{ form.Status.errors }} 
		</td>
		{% comment %}

		<td>
			<input type="checkbox" name="showAck" value="YES" {% if showAck == "YES" %} checked="yes"{% endif %} onChange="document.forms['Search'].submit();"/> 
		</td>
		{% endcomment %}
	</tr>
</table>
<table class="table table-bordered">
	<thead>
	<tr>
		<th>Creation From</th>
		<th>Creation To</th>
		<th>Execution From</th>
		<th>Execution To</th>
	</tr>
	<tr>
		<td>
			{{ form.DateFrom }}{{ form.DateFrom.errors }}
		</td>
		<td>
			{{ form.DateTo }}{{ form.DateTo.errors }}
		</td>
		<td>
			{{ form.ExecutionDateFrom }}{{ form.ExecutionDateFrom.errors }}
		</td>
		<td>
			{{ form.ExecutionDateTo }}{{ form.ExecutionDateTo.errors }}
		</td>

	</tr>
</table>
<div style="text-align:right;margin-bottom:20px">
	<input type="submit" name="SubmitType" value="Show All/Search" class="btn btn-success">&nbsp;&nbsp;&nbsp;
	<input type="submit" name='ExportReportExcel' class="btn"    value='  Export Results - Excel  '>&nbsp;&nbsp;&nbsp;
	<input type="submit" name='ExportReportCSV' class="btn" value='   Export Results - CSV   '>&nbsp;&nbsp;&nbsp;
	<input type="submit" name="Reset" value="Reset" class="btn btn-danger">
</div>


	{% if NPOrderID_list %}

	<tr>
		<td align="center" colspan="4" bgcolor="#6E6E6E" height="45" width="" bordercolor="#FFFFFF" bgcolor="white">
			<font face='Candara' size="2" color="white">Found multiple Port ID for this number: {{ form.number.value }} please choose one then click search<br>
			<table style="table" style="width:100%">
			
			{% for NPOrderID in NPOrderID_list %}
			<tr>
				<td>
					<a href="#" onclick="document.getElementById('NPOrderID').value = '{{ NPOrderID }}'; " /><font face='Candara' size="1" color="black">{{ NPOrderID }}</a>
				</td>
			</tr>
			{% endfor %}
			</table>
		</td>
	</tr>

</table>
<br>
<table align="center" border="1" cellspacing="1" style="border-collapse: collapse" width="800" cellpadding="5">

{% else %}

</table>
<br>
<table class="table" style="width:100%">

{% if SearchResults.object_list %}
<tr bgcolor="#E0E0E0">
	<td width="120" bgcolor="" align="center" valign="middle">
		{% if SearchResults.has_previous %}
			<input type="hidden" name="pageP" value="{{ SearchResults.previous_page_number }}">
			<input name='PageChangeP' type=image src="/media/previous_on.png" value='Previous'>
		{% else %}
			<img border="0" src="/media/previous_off.png" />
		{% endif %}
	</td>
	<td style="text-align:center;font-damily:Candara;;padding-top:10px">
			<span style="">Search Results</span>
			<select name="ShowTotalResults" onChange="document.forms['Search'].submit();">
				<option value=10 {% if ShowTotalResults == "10" %} selected="selected"{% endif %} >10</option>
				<option value=20 {% if ShowTotalResults == "20" %} selected="selected"{% endif %} >20</option>
				<option value=40 {% if ShowTotalResults == "40" %} selected="selected"{% endif %} >40</option>
				<option value=80 {% if ShowTotalResults == "80" %} selected="selected"{% endif %} >80</option>
				<option value=100 {% if ShowTotalResults == "100" %} selected="selected"{% endif %} >100</option>
			</select>
			<span style="vertical-align:middle;">
			 - Found {{ TotalSearchResults }} messages
			</span>
			{% if SearchResults.has_previous %}
			<span style="vertical-align:middle">
				 - Page {{ SearchResults.number }} of {{ SearchResults.paginator.num_pages }}
			 </span>
			 
			 
			{% else %}
			{% if SearchResults.has_next %}
			<span style="vertical-align:middle">
			 - Page {{ SearchResults.number }} of {{ SearchResults.paginator.num_pages }}
			</span>

			{% else %}
			{% endif %}
			{% endif %}
			 
	</td>
	<td width="120" bgcolor="" align="center" valign="middle">
		{% if SearchResults.has_next %}
			<input type="hidden" name="pageN" value="{{ SearchResults.next_page_number }}">
			<input name='PageChangeN' type=image src="/media/next_on.png" value='Next'>
		{% else %}
			<img border="0" src="/media/next_off.png" />
		{% endif %}
	</td> 
</tr>
</form>
{% if paginate_by %}{% load paginator %}{% paginator 3 %}{% endif %}
<table style="width:100%" class="table table-striped">
	<tr>
		<th>
			Message #
		</th>
		<th>
			NP Order ID
		</th>
		<th>
			Message Type
		</th>
		<th >
			Message Time
		</th>
		<th >
			Status
		</th>
		{% comment %}
		<th >
			Sender Name
		</th>
		{% endcomment %}
		<th>
			Recipient Name
		</th>
		<th>
			Donor Name
		</th>
		<th>
			Originator
		</th>
	</tr>
{% for message in SearchResults.object_list %}
	<tr>
		<td >
			<a href="{% if message.MessageLocalID != None %}{{ message.MessageLocalID }}{% endif %}" onclick="window.open('{% if message.MessageLocalID != None %}{{ message.MessageLocalID }}{% endif %}','popup','width=900,height=700,scrollbars=yes,resizable=yes,toolbar=no,directories=no,location=no,menubar=no,status=no,left=50,top=0'); return false">{% if message.MessageLocalID != None %}{{ message.MessageLocalID }}{% endif %}</a>
		</td>
		<td>
			{% if message.NPOrderID != None %}{{ message.NPOrderID }}{% endif %}
		</td>
		<td>
			{% if message.MessageTypeName != None %}{{ message.MessageTypeName }}{% endif %}
		</td>
		<td>
			{% if message.message_created != None %}{{ message.message_created }}{% endif %}
		</td>
		{% load GetChoice %}
		<td>
			<a  title="{{ somevariable|GetStatusDetails:message.status }}">{{ somevariable|GetStatusName:message.status }}</a>
		</td>
		{% comment %}
		<td>
			{% if message.SenderName != None %}{{ message.SenderName }}{% endif %}
		</td>
		{% endcomment %}
		<td>
			{% if message.RecipientName != None %}{{ message.RecipientName }}{% endif %}
		</td>
		<td>
			{% if message.DonorName != None %}{{ message.DonorName }}{% endif %}
		</td>
		<td>
			{% if message.Originator != None %}{{ message.Originator }}{% endif %}
		</td>
	</tr>
{% endfor %}
{% else %}
{% if submitted == "yes" %}
<tr>
	<td colspan="6"  width="100%" style="text-align:center">
		No Messages Found
	</td>
</tr>
{% endif %}
{% endif %}
{% endif %}
</table>
{% endblock %}
