{% extends "web/base.html" %}

{% block title %}NPG - {{ PageName }}{% endblock %}
{% block script %}
{% endblock %}
{% block content %}
<h3>Search Messages</h3>
<table style="width:100%" class="table table-bordered">
<form enctype='multipart/form-data' name='NewNpRequest' id='NewNpRequest' action='/request/search/' method='post'>
<style>
#NPOrderID,#PhoneNumber{
	width:180px;
}
</style>
{% csrf_token %}
	<tr>
		<td>
			{{ form.NPOrderID.label_tag }}
		</td>
		<td>
			Phone Number
		</td>
			{% comment %}
		<td>
			{{ form.MessageTypeName.label_tag }}
		</td>
		<td>
			Originator
		</td>
			{% endcomment %}
		<td>
			Show Ack
		</td>
	</tr>
	<tr>
		<td>
			<input type="text" size="30" name="NPOrderID" id="NPOrderID" value="{% if form.NPOrderID.value != None %}{{ form.NPOrderID.value }}{% endif %}" />
			{{ form.NPOrderID.errors }}
		</td>
		<td>
			<input type="text" size="13" name="PhoneNumber" id="PhoneNumber" value="{% if PhoneNumber != None %}{{ PhoneNumber }}{% endif %}" />
			<span>{{ form.PhoneNumber.errors }}</span>
			{% comment %}
			<input type="checkbox" name="related" value="YES" {% if related == "YES" %} checked="yes"{% endif %} /> Related 
			{% endcomment %}
		</td>
			{% comment %}
		<td>
			<select name="MessageTypeName" onChange="this.form.submit();">
				<option value="ALL" {% if form.Originator.value == "ALL" %} selected="selected"{% endif %} >All Messages</option>
				<optgroup label="NPRequest">
				<option value="NPRequest" {% if form.MessageTypeName.value == "NPRequest" %} selected="selected"{% endif %} >NPRequest</option>
				<option value="NPRequestCancel" {% if form.MessageTypeName.value == "NPRequestCancel" %} selected="selected"{% endif %} >NPRequestCancel</option>
				</optgroup>
				<optgroup label="NPDonor">
				<option value="NPDonorAccept" {% if form.MessageTypeName.value == "NPDonorAccept" %} selected="selected"{% endif %} >NPDonorAccept</option>
				<option value="NPDonorReject" {% if form.MessageTypeName.value == "NPDonorReject" %} selected="selected"{% endif %} >NPDonorReject</option>
				</optgroup>
				<optgroup label="NPExecute">
				<option value="NPExecution" {% if form.MessageTypeName.value == "NPExecution" %} selected="selected"{% endif %} >NPExecution</option>
				<option value="NPExecutionCancel" {% if form.MessageTypeName.value == "NPExecutionCancel" %} selected="selected"{% endif %} >NPExecutionCancel</option>
				</optgroup>
				<optgroup label="NPReturn">
				<option value="NPReturn" {% if form.MessageTypeName.value == "NPReturn" %} selected="selected"{% endif %} >NPReturn</option>
				<option value="NPReturnExecution" {% if form.MessageTypeName.value == "NPReturnExecution" %} selected="selected"{% endif %} >NPReturnExecution</option>
				</optgroup>
				<optgroup label="NPBillingResolution">
				<option value="NPBillingResolution" {% if form.MessageTypeName.value == "NPBillingResolution" %} selected="selected"{% endif %} >NPBillingResolution</option>
				<option value="NPBillingResolutionEnd" {% if form.MessageTypeName.value == "NPBillingResolutionEnd" %} selected="selected"{% endif %} >NPBillingResolutionEnd</option>
				<option value="NPBillingResolutionReceived" {% if form.MessageTypeName.value == "NPBillingResolutionReceived" %} selected="selected"{% endif %} >NPBillingResolutionReceived</option>
				<option value="NPBillingResolutionAlert" {% if form.MessageTypeName.value == "NPBillingResolutionAlert" %} selected="selected"{% endif %} >NPBillingResolutionAlert</option>
				<option value="NPBillingResolutionAlertReceived" {% if form.MessageTypeName.value == "NPBillingResolutionAlertReceived" %} selected="selected"{% endif %} >NPBillingResolutionAlertReceived</option>
				<option value="NPBillingResolutionError" {% if form.MessageTypeName.value == "NPBillingResolutionError" %} selected="selected"{% endif %} >NPBillingResolutionError</option>
				</optgroup>
				<optgroup label="Ack">
				<option value="MessageAck" {% if form.MessageTypeName.value == "MessageAck" %} selected="selected"{% endif %} >MessageAck</option>
				</optgroup>
				<optgroup label="Others">
				<option value="ErrorNotification" {% if form.MessageTypeName.value == "ErrorNotification" %} selected="selected"{% endif %} >ErrorNotification</option>
				<option value="NPQuery" {% if form.MessageTypeName.value == "NPQuery" %} selected="selected"{% endif %} >NPQuery</option>
				<option value="NPQueryComplete" {% if form.MessageTypeName.value == "NPQueryComplete" %} selected="selected"{% endif %} >NPQueryComplete</option>
				</optgroup>
			</select>
		</td>
		<td height="45" align="center" width="" bordercolor="#FFFFFF" bgcolor="white">
			<select name="Originator" onChange="this.form.submit();">
				<option value="ALL" {% if Originator == "ALL" %} selected="selected"{% endif %} >All Messages</option>
				<option value="IN" {% if Originator == "NPCS" %} selected="selected"{% endif %} >NPCS</option>
				<option value="OUT" {% if Originator == "NPG" %} selected="selected"{% endif %} >NPG</option>
			</select>
		</td>
		{% endcomment %}

		<td height="45" align="center" width="" bordercolor="#FFFFFF" bgcolor="white">
			<font face='Candara' size="2" color="black"><input type="checkbox" name="showAck" value="YES" {% if showAck == "YES" %} checked="yes"{% endif %} onChange="this.form.submit();"/> 
		</td>
	</tr>
	<tr>
		<td colspan="5" style="text-align:right">
			<input name='submitReport' type="submit" class="btn"  value='    Show All / Search    '>&nbsp;&nbsp;&nbsp;
			<input name='ExportReportExcel'  type="submit" class="btn"    value='  Export Results - Excel  '>&nbsp;&nbsp;&nbsp;
			<input name='ExportReportCSV'  type="submit" class="btn" value='   Export Results - CSV   '>
		</td>
	</tr>

	{% if NPOrderID_list %}

	<tr>
		<td align="center" colspan="4" bgcolor="#6E6E6E" height="45" width="" bordercolor="#FFFFFF" bgcolor="white">
			<font face='Candara' size="2" color="white">Found multiple Port ID for this number: {{ form.number.value }} please choose one then click search<br>
			<table style="table" style="width:100%">
			
			{% for NPOrderID in NPOrderID_list %}
			<tr>
				<td>
					<a href="#" onclick="document.getElementById('NPOrderID').value = '{{ NPOrderID }}'; " /><font face='Candara' size="1" color="black">{{ NPOrderID }}</a>
				</td>
			</tr>
			{% endfor %}
			</table>
		</td>
	</tr>

</table>
<br>
<table align="center" border="1" cellspacing="1" style="border-collapse: collapse" width="800" cellpadding="5">

{% else %}

</table>
<br>
<table class="table" style="width:100%">

{% if SearchResults.object_list %}
<tr bgcolor="#E0E0E0">
	<td width="120" bgcolor="" align="center" valign="middle">
		{% if SearchResults.has_previous %}
			<input type="hidden" name="pageP" value="{{ SearchResults.previous_page_number }}">
			<input name='PageChangeP' type=image src="/media/previous_on.png" value='Previous'>
		{% else %}
			<img border="0" src="/media/previous_off.png" />
		{% endif %}
	</td>
	<td style="text-align:center;font-damily:Candara;;padding-top:10px">
			<span style="">Search Results</span>
			<select name="ShowTotalResults" onChange="this.form.submit();">
				<option value="10" {% if ShowTotalResults == '10' %} selected="selected"{% endif %} >10</option>
				<option value="20" {% if ShowTotalResults == '20' %} selected="selected"{% endif %} >20</option>
				<option value="40" {% if ShowTotalResults == '40' %} selected="selected"{% endif %} >40</option>
				<option value="80" {% if ShowTotalResults == '80' %} selected="selected"{% endif %} >80</option>
			</select>
			<span style="vertical-align:middle;">
			 - Found {{ TotalSearchResults }} messages
			</span>
			{% if SearchResults.has_previous %}
			<span style="vertical-align:middle">
				 - Page {{ SearchResults.number }} of {{ SearchResults.paginator.num_pages }}
			 </span>
			 
			 
			{% else %}
			{% if SearchResults.has_next %}
			<span style="vertical-align:middle">
			 - Page {{ SearchResults.number }} of {{ SearchResults.paginator.num_pages }}
			</span>

			{% else %}
			{% endif %}
			{% endif %}
			 
	</td>
	<td width="120" bgcolor="" align="center" valign="middle">
		{% if SearchResults.has_next %}
			<input type="hidden" name="pageN" value="{{ SearchResults.next_page_number }}">
			<input name='PageChangeN' type=image src="/media/next_on.png" value='Next'>
		{% else %}
			<img border="0" src="/media/next_off.png" />
		{% endif %}
	</td> 
</tr>
</form>
{% if paginate_by %}{% load paginator %}{% paginator 3 %}{% endif %}
<table style="width:100%" class="table table-striped">
	<tr>
		<th>
			#
		</th>
		<th>
			NP Order ID
		</th>
		<th>
			Message Type
		</th>
		<th >
			Message Time
		</th>
		<th >
			Sender Name
		</th>
		<th>
			Recipient Name
		</th>
		<th>
			Donor Name
		</th>
		<th>
			Test
		</th>
		<th>
			In/Out
		</th>
	</tr>
{% for message in SearchResults.object_list %}
	<tr>
		<td >
			<a href="{% if message.MessageLocalID != None %}{{ message.MessageLocalID }}{% endif %}" onclick="window.open('{% if message.MessageLocalID != None %}{{ message.MessageLocalID }}{% endif %}','popup','width=900,height=700,scrollbars=yes,resizable=yes,toolbar=no,directories=no,location=no,menubar=no,status=no,left=50,top=0'); return false">{% if message.MessageLocalID != None %}{{ message.MessageLocalID }}{% endif %}</a>
		</td>
		<td>
			{% if message.NPOrderID != None %}<a href="#" onclick="document.getElementById('NPOrderID').value = '{{ message.NPOrderID }}'; " />{{ message.NPOrderID }}{% endif %}
		</td>
		<td>
			{% if message.MessageTypeName != None %}{{ message.MessageTypeName }}{% endif %}
		</td>
		<td>
			{% if message.message_created != None %}{{ message.message_created }}{% endif %}
		</td>
		<td>
			{% if message.SenderName != None %}{{ message.SenderName }}{% endif %}
		</td>
		<td>
			{% if message.RecipientName != None %}{{ message.RecipientName }}{% endif %}
		</td>
		<td>
			{% if message.DonorName != None %}{{ message.DonorName }}{% endif %}
		</td>
		<td>
			{% if message.number != None %}<a href="#" onclick="document.getElementById('number').value = '{{ message.number }}'; " />{{ message.number }}{% endif %}
		</td>
		<td>
			{% if message.Originator != None %}{{ message.Originator }}{% endif %}
		</td>
	</tr>
{% endfor %}
{% else %}
{% if submitted == "yes" %}
<tr>
	<td colspan="6"  width="100%" style="text-align:center">
		No Messages Found
	</td>
</tr>
{% endif %}
{% endif %}
{% endif %}
</table>
{% endblock %}