{% extends "web/base.html" %}
{% block title %}NPG - Reports{% endblock %}
{% block head %}
	
{% endblock %}

{% block style %}
{% comment %}
<style>
{% endcomment %}

{% comment %}
</style>
{% endcomment %}
{% endblock %}


{% block script %}

{% comment %}
<script>
{% endcomment %}

{% comment %}
</script>
{% endcomment %}

{% endblock %}

{% block content %}


<h3>Reports</h3>


<table class="table table-bordered">

	<thead>
	<tr>
		<th>{{ form.ReportType.label }}</th>
		<th>{{ form.Year.label }}</th>
		<th>{{ form.Month.label }}</th>
		{% comment %}
		<th>Regenerate (Slow)</th>
		{% endcomment %}
	</tr>
	</thead>
	<tr>
	<form method='post'>
		{% csrf_token %}
		<td>
			{{ form.ReportType }}{{ form.ReportType.errors }}
		</td>
		<td>
			{{ form.Year }}{{ form.YearChoice.errors }}
		</td>
		<td>
			{{ form.Month }}{{ form.MonthChoice.errors }}
		</td>
		{% comment %}
		<td>
			<input type="checkbox" {% if RegenerateReport == "True" %} checked="checked" {% endif %} name="RegenerateReport" value="True">
			{{ form.User }}{{ form.User.errors }}
		</td>
		{% endcomment %}
	</tr>
	
</table>
<div style="text-align:right;margin-bottom:20px">
	<input type="submit" name="SubmitType" value="Generate Report" class="btn btn-success">
</div>
</form>									


{% if SerchResults %}
	{% comment %}
	
		{% for keyX, valueX in SerchResults.items %}
			{{ keyX }} >> {{ valueX }}		
		{% endfor %}
	{% endcomment %}

<table style="width:100%">
	<td>
{% if SerchResults.ReportType = 'yearly' %}

<table class="table table-bordered table-striped">
  <tr>
    <th colspan="2" rowspan="3">Month</th>
    <th colspan="6">Port Out</th>
    <th colspan="6">Port In</th>
  </tr>
  <tr>
    <td colspan="2">Zain</td>
    <td colspan="2">Viva</td>
    <td colspan="2">Total</td>
    <td colspan="2">Zain</td>
    <td colspan="2">Viva</td>
    <td colspan="2">Total</td>
  </tr>
  <tr>
    <td>Phone</td>
    <td>Order</td>
    <td>Phone</td>
    <td>Order</td>
    <td>Phone</td>
    <td>Order</td>
    <td>Phone</td>
    <td>Order</td>
    <td>Phone</td>
    <td>Order</td>
    <td>Phone</td>
    <td>Order</td>
  </tr>
  {% for key, value in SerchResults.items %}
	  <tr>
	    <td colspan="2">{{ key }}</td>
		  {% for key2, value2 in value.items %}
		  	{% if "ooredoo-Zain" == key2 %}
		  		<td>{{ value2.phone }}</td>
		  		<td>{{ value2.count }}</td>
		  	{% elif "ooredoo-Viva" == key2 %}
		  		<td>{{ value2.phone }}</td>
		  		<td>{{ value2.count }}</td>
		  	{% elif "ooredoo-ALL" == key2 %}
		  		<td>{{ value2.phone }}</td>
		  		<td>{{ value2.count }}</td>
		  	{% elif "Zain-ooredoo" == key2 %}
		  		<td>{{ value2.phone }}</td>
		  		<td>{{ value2.count }}</td>
		  	{% elif "Viva-ooredoo" == key2 %}
		  		<td>{{ value2.phone }}</td>
		  		<td>{{ value2.count }}</td>
		  	{% elif "ALL-ooredoo" == key2 %}
		  		<td>{{ value2.phone }}</td>
		  		<td>{{ value2.count }}</td>
		  	{% else %}
		  		<td></td>
		  		<td></td>
		  		<td></td>
		  		<td></td>
		  		<td></td>
		  		<td></td>
		  		<td></td>
		  		<td></td>
		  		<td></td>
		  		<td></td>
		  		<td></td>
		  		<td></td>
		  	{% endif %}
		{% endfor %}
	  </tr>
  {% endfor %}
  <tr>
    <td colspan="14"></td>
  </tr>
  <tr>
    <td rowspan="3">Yearly</td>
    <td>Total</td>
    <td></td>
    <td></td>
    <td></td>
    <td></td>
    <td></td>
    <td></td>
    <td></td>
    <td></td>
    <td></td>
    <td></td>
    <td></td>
    <td></td>
  </tr>
  <tr>
    <td>Total Phone</td>
    <td colspan="6"></td>
    <td colspan="6"></td>
  </tr>
  <tr>
    <td>Total Order</td>
    <td colspan="6"></td>
    <td colspan="6"></td>
  </tr>
</table>

{% else %}


	<table  class="table table-bordered table-striped">
		<thead>
		<tr>
			<th colspan="6">
			<b>{{ SerchResults.ReportType }} - {{ SerchResults.year }} - {{ SerchResults.month }}</b>
			</th>
		</tr>
		<tr>
			<th></th>
			<th>Day</th>
			<th>Count Type</th>
			<th>Zain</th>
			<th>Viva</th>
			<th>Daily Total</th>
		</tr>
		</thead>
		<tr>
			<td rowspan="{{ SerchResults.TotalDays }}"><p class="text-primary"><b>Month {{ SerchResults.month }}</b></p></td>
			{% for keyX, valueX in SerchResults.items %}
				{% if keyX = "Daily" %}
					{% for key, value in valueX.items %}
						<td rowspan="2">{{ key }}</td>
						<td><u><i>Request</i></u></td>
						<td>{{ value.Zain.count }}</td>
						<td>{{ value.Viva.count }}</td>
						<td>{{ value.total_count }}</td>
					</tr>
					<tr>
						<td><u><i>Phone<i></u></td>	
						<td>{{ value.Zain.phone }}</td>
						<td>{{ value.Viva.phone }}</td>
						<td>{{ value.total_phone }}</td>
					</tr>
					<tr>
				{% endfor %}
			{% endif %}
		{% endfor %}
			<td rowspan="2" colspan="2"><b>Monthly Total</b></td>
			<td><u><i>Request<i></b></td>
			<td>{{ SerchResults.Monthly.Zain.count }}</td>
			<td>{{ SerchResults.Monthly.Viva.count }}</td>
			<td>{{ SerchResults.Monthly.total_count}}</td>
		</tr>
		<tr>
			<td><u><i>Phone</i></u></td>
			<td>{{ SerchResults.Monthly.Zain.phone }}</td>
			<td>{{ SerchResults.Monthly.Viva.phone }}</td>
			<td>{{ SerchResults.Monthly.total_phone}}</td>
		</tr>
	</table>

		</td>
{% endif %}

	</tr>
</table>

{% endif %}


	{% comment %}

	{% for file in all_reports_files %}
	<tr>
		<td>
			<figure>
				<embed type="image/svg+xml" src="/media/GeneratedReports/{{ file }}" />
	  		</figure>
		</td>
	</tr>
	{% endfor %}

	<select name="message">
		{% for y in all_messages %}
	    <option value="{{ y }}" {% if SELECTED_MESSAGE == y %} selected="selected" {% endif %}>{{ y }}</option>
		{% endfor %}
	</select>
	
	<select name="originator">
    <option value="NPCS" {% if SELECTED_ORIGINATOR == "NPCS" %} selected="selected" {% endif %}>Number Portability Central System</option>
    <option value="NPG" {% if SELECTED_ORIGINATOR == "NPG" %} selected="selected" {% endif %}>Number Portability Gateway</option>
	</select><br>
	{% endcomment %}

{% endblock %}
