<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html>
	<head>
		<title>{% block title %}{{ section.title }}{% endblock %}</title>
		<script src="/media/jquery/jquery-1.9.1.js"></script>
	  	<script src="/media/jquery/jquery-ui.js"></script>
		<script src="/media/script.js" type="text/javascript"></script>
		<link rel="stylesheet" href="/media/bootstrap/css/bootstrap.min.css" type="text/css" />
		<link rel="stylesheet" href="/media/bootstrap-datetimepicker/css/bootstrap-datetimepicker.min.css" type="text/css">
		<link rel="stylesheet" href="/media/login/login.css" type="text/css">
		<script src="/media/bootstrap/js/bootstrap.min.js" type="text/javascript"></script>
		<script src="/media/bootstrap/js/bootstrap-confirm.js" type="text/javascript"></script>
		<script src="/media/bootstrap-datetimepicker/js/bootstrap-datetimepicker.min.js" type="text/javascript"></script>
		{% comment %} This is for customer javascript per page {% endcomment %}
		<script type="text/javascript">
			{% block script %}
				{{ section.script }}
			{% endblock %}
		</script>
		<link rel="stylesheet" type="text/css" href="/media/style.css" />
		<style type="text/css">
			{% block style %}
			{% endblock %}
		</style>
		{% block head %}
		{% endblock %}
	</head>
	<body>
	<div class="container" style="">
	{% if user.is_authenticated %}
	<div class="masthead">
        <h3 class="muted">
	        <a href= "/">
		        <img src="/media/login/4gtss_137x40.png" alt="4gtss logo">
		    </a>
		        <img height="40" width="60" src="/media/login/kuwait.gif" alt="4gtss logo">
        </h3>
        
        <div class="navbar">
          <div class="navbar-inner">
            <div class="container">
              	{% include "web/main_nav.html" %}
            </div>
          </div>
        </div><!-- /.navbar -->
      </div>
      {% endif %}
			{% block content %}
			{% endblock %}
	</div>

	</body>
</html>
