{% extends "web/base.html" %}

{% block title %}NPG - {{ PageName }}{% endblock %}


{% block script %}

{% endblock %}
{% block content %}
<div class="container">
  	{% include "auth/auth_nav.html" %}
</div>

{% if Results %}
<div class="PopupPanel">
Results
{{ Results }}
</div>
{% endif %}

<form enctype='multipart/form-data' action='/admin_create/' method='post'> 
{% csrf_token %}
{{ form.username.label }}
{{ form.username }}

{{ form.email.label }}
{{ form.email }}

{{ form.password.label }}
{{ form.password }}

{{ form.admin.label }}
{{ form.admin }}

<input type="submit" name="submit" value="Create" /> 
</form>

{% endblock %}