{% extends "web/base.html" %}

{% block title %}NPG - {{ PageName }}{% endblock %}


{% block script %}

{% endblock %}
{% block content %}

<div class="container">
  	{% include "auth/auth_nav.html" %}
</div>

{% if Results %}
<div class="PopupPanel">
Results
{{ Results }}
</div>
{% endif %}


{% endblock %}