{% extends "web/base.html" %}

{% block title %}NPG / User login{% endblock %}
	{% block style %}
{% endblock %}

{% block content %}
<div id="LoginContainer" style="margin:auto;width:100%;text-align:center;margin-top:100px">
<h3>
<a href= "/">
	<img src="/media/login/4gtss_137x40.png" alt="4gtss logo">
</a>
</h3>
<br />
	<div id="loginBox">
		<form class="form-signin" method="post">
		{% csrf_token %}
        <h2 class="form-signin-heading">Please sign in</h2>
        <input type="text" class="input-block-level" placeholder="Username" name="username" id="username">
        <input type="password" class="input-block-level" placeholder="Password" name="password" id="password">
        <input type='submit' class="btn btn-small btn-primary" type="submit" value="Login">
      </form>
		</form>
	</div>
	<div id="copyRights" > 4GTSS Corporation W.L.L Copyright © 2011</div>
</div>
{% endblock %}
