{% load i18n static %}


{% block content%}
<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="en" lang="en">
<head>
	<meta http-equiv="content-type" content="text/html; charset=utf-8">
	<title>4GTSS - Admin Login</title>
	<link rel="stylesheet" href="css/login.css" type="text/css">
	<meta name="robots" content="noindex">
	<meta http-equiv="cache-control" content="no-cache">
	<meta http-equiv="pragma" content="no-cache">
	<style type="text/css">
		
	</style>
	<style type="text/css">
		.adlesse-hidden{
			display:none!important;
		}
		.adlesse-invisible{
			visibility:hidden!important;
		}
		.adlesse-actionpanel{
			padding:0!important;
			margin:0!important;
			position:absolute!important;
			z-index:2147483647!important;
			border:solid black 1px!important;
			background:white!important;
			font-family:sans-serif!important;
			font-weight:normal!important;
			font-size:10px!important;
			text-decoration:none!important;
			color:black!important;
		}
		.adlesse-actionpanel a{
			padding:0!important;
			margin:0!important;
			background:none repeat scroll 0 0 transparent!important;
			font-family:sans-serif!important;
			font-weight:normal!important;
			font-size:10px!important;
			text-decoration:none!important;
			color:black!important;
		}
		.adlesse-actionpanel a:hover{
			text-decoration:underline!important;
		}
		.adlesse-trans-65{
			opacity:0.65;
			filter:alpha(opacity=65);
			-moz-opacity:0.65;
			filter:progid:DXImageTransform.Microsoft.Alpha(Opacity=65);
			-khtml-opacity: 0.65;
			-ms-filter: 'progid:DXImageTransform.Microsoft.Alpha(Opacity=65)';
		}
		.adlesse-rounded-corner{
			-moz-border-radius:3px;
			-webkit-border-radius:3px;
			-khtml-border-radius:3px;
			border-radius:3px;
		}
		.adlesse-widget-div{
		}
		.adlesse-widget-iframe{
			border:0px;
		}
	</style>
</head>
<body id="loginBody" promptdialogcheckdone="1">
<div id="loginBox">
	<h1 id="logo"><a href="index.php"></a></h1>
	<h1>Authentication Required</h1>
	<br>
	{% comment %}
	<form action="{% url authenticate.views.LoginRequest  %} " method="post">
	{% endcomment %}
	
	<form action="/login/" method="post">
	
	{% if forms.errors %} <p>Please Correct The Following Fields ..</p> {% endif %}

	<input type="hidden" name="do" value="scplogin">
		<table border="0" align="center">
			<tbody>
				<tr>
					<td width="100px" align="right">
						<b>Username</b>:
					</td>
					<td>
						<input type="text" name="username" id="name" value="">
					</td>
				</tr>
				<tr>
					<td align="right">
						<b>Password</b>:
					</td>
					<td>
						<input type="password" name="passwd" id="pass">
					</td>
				</tr>
				<tr>
					<td>&nbsp;</td>
					<td>&nbsp;&nbsp;
					<input class="submit" type="submit" name="submit" value="Login">
					</td>
				</tr>
		</tbody>
	</table>
</form>
</div>
<div id="copyRights"> 4GTSS Corporation W.L.L Copyright © 2011</div>
</body>
</html>