{% extends "web/base.html" %}

{% block title %}NPG - {{ PageName }}{% endblock %}


{% block script %}

{% endblock %}
{% block content %}
<div class="container">
  	{% include "auth/auth_nav.html" %}
</div>

{{ valid }}

{{ form.errors }}



<table>


<tr>

<td>Name&nbsp;&nbsp;&nbsp;&nbsp;</td>
<td>Active&nbsp;&nbsp;&nbsp;&nbsp;</td>
<td>Admin&nbsp;&nbsp;&nbsp;&nbsp;</td>
<td>Commit Changes&nbsp;&nbsp;&nbsp;&nbsp;</td>
<td>Delete User&nbsp;&nbsp;&nbsp;&nbsp;</td>

</tr>


{% for user_item in users %}  


 
<tr>
<form enctype='multipart/form-data' action='/moderator/' method='post'>
								{% csrf_token %}
								<td>{{ user_item.username }}</td>							
								{# <td>{{ form.yes_no.label }}</td> #}
								{# <td>{{ form.yes_no }}</td>  #}
								
								<td><input type="checkbox" name="active" id="id_active" {% if user_item.is_active %}value="yes" checked {% else %} value="no" {% endif %}></td>
								
								<td><input type="checkbox" name="admin" id="id_admin" {% if user_item.userprofile.admin %}value="yes" checked {% else %} value="no" {% endif %}></td>								 
								
								<input type="hidden" name="user" id="id_user" value="{{user_item.id}}">
								
								<td><input type="submit" name="Update" value="Update Changes"></td>
								
								<td><input type="submit" name="Delete" value="Delete User"></td>
								
								
								


</form>
</tr>
{% endfor %}

</table>



 
{% endblock %}