{% extends "web/base.html" %}

{% block title %}NPG - {{ PageName }}{% endblock %}


{% block script %}

{% endblock %}
{% block content %}
<div class="container">
  	{% include "auth/auth_nav.html" %}
</div>

{% block content%}
<p>Please Enter the Credentials</p>

<form action="" method="post">

{% if forms.errors %} <p>Please Correct The Following Fields ..</p> {% endif %}

<div class='login'>
{% if form.name.errors %}<p class='error'>Name Error: {{ form.name.errors}}</p> {% endif %}

<p><label for="name" {%if form.username.errors %} class="error"{% endif %}>User Name: </label></p>

<p>{{ form.name }}</p>
</div>



<div class='login'>
{% if form.email.errors %}<p class='error'>Email Error: {{ form.email.errors}}</p> {% endif %}

<p><label for="email" {%if email %} class="error"{% endif %}>Email: </label></p>

<p>{{ form.email }}</p>
</div>


<div class='login'> 
{% if form.birthday.errors %}<p class='error'>Birthday Error: {{ form.birthday.errors}}</p> {% endif %}

<p><label for="birthday" {%if birthday %} class="error"{% endif %}>Birthday: </label></p>

<p>{{ form.birthday }}</p>
</div>


<div class='login'>
{% if form.password.errors %}<p class='error'>Password Error: {{ form.password.errors }}</p> {% endif %}

<p><label for="password" {%if form.password.errors %} class="error"{% endif %}>Password: </label></p>

<p>{{ form.password }}</p>
</div>

<div class='login'>
{% if form.password1.errors %}<p class='error'>Password Again Error: {{ form.password1.errors }}</p> {% endif %}

<p><label for="password1" {%if form.password1.errors %} class="error"{% endif %}>Password Confirmation: </label></p>

<p>{{ form.password1 }}</p>
</div>

<p><input type="submit" alt="login" name="Deliver"/></p>

</form>

{% endblock %}