{% extends "auth/base.html" %}


{% block title %} You are not Authorized  {% endblock %}

{% block content %}



<p><b>Kindly be informed that you are not allowed to login to this page, you are not an NPG moderator.</b></p>

<p>Please logout and login again with Admin credentials, <a href='/logout/'>click here</a> to logout, or 
Go to the main page <a href='/request'>here</a></p>

{% endblock %}