body {
        padding-top: 20px;
        padding-bottom: 60px;
      }

      /* Custom container */
      .container {
        margin: 0 auto;
        max-width: 1000px;
      }
      .container > hr {
        margin: 60px 0;
      }

      /* Main marketing message and sign up button */
      .jumbotron {
        margin: 80px 0;
        text-align: center;
      }
      .jumbotron h1 {
        font-size: 100px;
        line-height: 1;
      }
      .jumbotron .lead {
        font-size: 24px;
        line-height: 1.25;
      }
      .jumbotron .btn {
        font-size: 21px;
        padding: 14px 24px;
      }

      /* Supporting marketing content */
      .marketing {
        margin: 60px 0;
      }
      .marketing p + h4 {
        margin-top: 28px;
      }


      /* Customize the navbar links to be fill the entire space of the .navbar */
      .navbar .navbar-inner {
        padding: 0;
      }
      .navbar .nav {
        margin: 0;
        display: table;
        width: 100%;
      }
      .navbar .nav li {
        display: table-cell;
        float: none;
	*display:inline;
	*float:left;
      }
      .navbar .nav li a {
        font-weight: bold;
        text-align: center;
        font-size: 12px;
        border-left: 1px solid rgba(255,255,255,.75);
        border-right: 1px solid rgba(0,0,0,.1);
      }
      .navbar .nav li:first-child a {
        border-left: 0;
        border-radius: 3px 0 0 3px;
      }
      .navbar .nav li:last-child a {
        border-right: 0;
        border-radius: 0 3px 3px 0;
      }
      
      .CustomerInformation{
	      display:table;
	      width:100%;
      }
      
      .CustomerInformation > .control-group{
	      display:table-row;
	      
      }
      
      .CustomerInformation .control-group label, .CustomerInformation .control-group .CIfield{
	      display: table-cell;
	      border-bottom:solid 1px #ccc;
      }
      
      .CustomerInformation .control-group label{
	      width:120px;
	      font-size: 12px;
	      vertical-align:top;
	       padding-top: 15px;
	       text-align: left;
	       padding-left: 0px;
	       padding-right: 100px;
	        font-weight: bold;
	       
      }
      
      .control-group label:after{
	      content: " :";
      }
      
       .CustomerInformation .control-group .CIfield{
	       padding-top: 10px;
	      
	   }
       
       .CustomerInformation .control-group .CIfield input{
	       font-size: 12px;
	       width: 200px;
       }
       
       .CustomerInformation .control-group .CIfield select{
	       width: 215px;
       }
       
       #RoutingInfoList, #AttachmentList{
	       margin-top: 100px;
       }
       
       #RoutingInfoList #phonelabel {
	       float:left;
	       width:190px;
       }
       
       input[name=delPhone]{
       }
       
       .phonecontainer{
	       width:91%;
	       float: left;
	       clear: both;
       }
       
       
       .button_diva{
	       margin-top: 193px;
	       border-top: solid 1px #ccc;
	       padding-top: 10px;
	       text-align: right;
       }
       
       select{
	       width:auto;
       }
       
       .phonecontainer input{
	       width: 173px;
       }
       
       #RoutingInfoList input[name=addPhone]{
	       margin-bottom: 20px;
       }
